In [ ]:
# GROUP 10

In [6]:
### Part 1:Loops
## Question 1. Pass Statement
## Write a for loop that iterates through numbers from 1 to 10.

## Use the pass statement when the number is even, and print only the odd numbers.
## Re-question: What would happen if you remove the pass statement?

In [67]:
for i in range(1, 11):   # recorre del 1 al 10
    if i % 2 == 0:       # si es par
        pass             # no hace nada
    else:                # si es impar
        print(i)

1
3
5
7
9

In [ ]:
## Re-question: What would happen if you remove the pass statement?

In [69]:
for i in range(1, 11):
    if i % 2 == 0:
        # nada aquí
    else:
        print(i)

IndentationError: expected an indented block after 'if' statement on line 2 (3911380441.py, line 4)

In [10]:
## Esto generaría un error de sintaxis (IndentationError o SyntaxError), porque en Python no puedes dejar un bloque if vacío.

## Por eso se usa pass: para que el bloque sea válido aunque no haga nada

In [11]:
##2. Continue Statement

## Create a loop that goes through the string "pythonloops".
## Skip the letters "o" using the continue statement and print the remaining letters.

In [70]:
for letra in "pythonloops":
    if letra == "o":    # cuando encuentra una "o"
        continue        # salta esa iteración
    print(letra)

p
y
t
h
n
l
p
s

In [ ]:
## Re-question: How would you achieve the same result without using continue?

In [71]:
## En lugar de usar continue, se puede controlar con un if normal
for letra in "pythonloops":
    if letra != "o":    # solo imprime si la letra NO es "o"
        print(letra)

p
y
t
h
n
l
p
s

3. Break Statement

In [15]:
## Write a while loop that keeps asking the user to input numbers.
## Break the loop if the user enters a negative number.
## Re-question: How can you modify the loop so it ignores negative numbers instead of breaking?

In [72]:
while True:  # bucle infinito hasta que se rompa
    num = int(input("Ingresa un número: "))
    if num < 0:        # condición de interrupción
        print("Número negativo detectado. Fin del programa.")
        break
    else:
        print("Ingresaste:", num)

Ingresa un número: 5
Ingresaste: 5
Ingresa un número: -5
Número negativo detectado. Fin del programa.

In [ ]:
## Re-question: How can you modify the loop so it ignores negative numbers instead of breaking?

In [ ]:
while True:
    s = input("Ingresa un número o 'q' para salir: ").strip().lower()
    if s == 'q':         # condición de salida
        print("Fin del programa.")
        break

    try:
        num = int(s)
    except ValueError:
        print("Ingresa un ENTERO válido o 'q' para salir.")
        continue

    if num < 0:
        print("Número negativo, ignorado.")
        continue

    print("Ingresaste:", num)

4. Try-Except Block - Write a loop that asks the user to input a number and divides 100 by that number. (Hecho por Georgina)
* Use a try-except block to handle the case when the user inputs 0 or a non-numeric value.
* Re-question: How would you improve the code to keep asking until a valid input is provided?

4. Bloque Try-Except - Escribe un bucle que pida al usuario que introduzca un número y divida 100 por ese número. (Hecho por Georgina)
   * Usa un bloque try-except para manejar el caso cuando el usuario introduce 0 o un valor no numérico.
   * Re-pregunta: ¿Cómo mejorarías el código para seguir preguntando hasta que se proporcione una entrada válida?

In [ ]:
while True:
    try:
        num = int(input("Introduce un número: "))
        resultado = 100 / num
        print(f"100 dividido por {num} es {resultado}")
        break  # Salir del bucle si todo va bien
    except ZeroDivisionError:
        print("Error: No se puede dividir entre cero. Intenta de nuevo.")
    except ValueError:
        print("Error: Eso no es un número válido. Intenta de nuevo.")

5. While Loop Structure - Write a while loop that calculates the factorial of a given number n. (Hecho por Georgina)

* Print each intermediate step of the factorial calculation.
* Re-question: How would you implement the same factorial calculation using a for loop instead?

In [ ]:
n = int(input("Enter a number: "))
factorial = 1

for i in range(1, n + 1):
    factorial *= i
    print(f"Step {i}: factorial = {factorial}")

print(f"Factorial of {n} is {factorial}")

In [ ]:
### Part 2:Functions

In [ ]:
# 6 Función con múltiples retornos

In [12]:
# 6.1 Valor máximo
def analyze_numbers(lst):
    return max(lst)
print (analyze_numbers([1,2,3,4,5]))

5

In [13]:
# 6.2 Valor mínimo
def analyze_numbers(lst):
    return min(lst)
print (analyze_numbers([1,2,3,4,5]))

1

In [21]:
# 6.3 Valor promedio
def analyze_numbers(lst):
    return sum(lst)/len(lst)
print (analyze_numbers([1,2,3,4,5]))

3.0

In [32]:
# 6.4 Re-question: How would you call this function and unpack the results into three variables?
def analyze_numbers(lst):
    return max(lst), min(lst), sum(lst)/len(lst)

maximo, minimo, promedio = analyze_numbers([1,2,3,4,5])
print(maximo, minimo, promedio)

5 1 3.0

In [ ]:
# 7. Function with Default Parameters

In [42]:
# 7.1.a con parámetro
def greet(name, message="Hello"):
    print(f"{message}, {name}!")
          
greet("Daniel","Hi")

Hi, Daniel!

In [ ]:
# 7.1.b. sin parámetro

In [43]:
def greet(name, message="Hello"):
    print(f"{message}, {name}!")
          
greet("Daniel")

Hello, Daniel!

In [46]:
# 7.2. Como se puede ver en los códigos anteriores, se ha llamado a la función con y sin parámetro.
""" Python decide usar el valor por defecto que se ha asignado en la función; en este caso es "Hello". Si python no encuentra un mensaje que se le haya aplicado, escogerá por defecto el mensaje que se le asignó  en la función."""

' Python decide usar el valor por defecto que se ha asignado en la función, que en este caso es "Hello". Si python no encuentra un mensaje que se le haya aplicado, escogerá por defecto el mensaje que se le asignó  en la función.'

In [ ]:
# 8. Function with Type Hints

In [53]:
def multiply(a: int, b: int) -> int:
    return a*b
print(multiply(5,6)) #ejemplo

30

In [56]:
# 8.1. Test the function with both integers and strings.

# Integer and integer
def multiply(a: int, b: int) -> int:
    return a*b
print(multiply(2,10)) #se obtiene la multiplicación

20

In [ ]:
# string and integer

In [61]:
def multiply(a: int, b: int) -> int:
    return a*b
print(multiply("hi",2)) # se duplica y se anida el valor de "hi"

hihi

In [60]:
# integer and string
def multiply(a: int, b: int) -> int:
    return a*b
print(multiply(2,"hi")) # se duplica y se anida el valor de "hi"

hihi

In [ ]:
# string and string

In [62]:
def multiply(a: int, b: int) -> int:
    return a*b
print(multiply("2","hi")) #salta error, porque se está tratando de multiplicar dos strings.

TypeError: can't multiply sequence by non-int of type 'str'

In [65]:
# 8.2 Re-question: What happens if you pass strings, and why?

    # Manteniendo los dos valores como int:
def multiply(a: int, b: int) -> int:
    return a*b
print(multiply("hi","stop"))

SyntaxError: unterminated string literal (detected at line 6) (3850664173.py, line 6)

In [66]:
    # Reemplazando int por str en a y b:
def multiply(a: str, b: str) -> str:
    return a*b
print(multiply("hi","stop"))

TypeError: can't multiply sequence by non-int of type 'str'

In [ ]:
print ("Si se trata de multiplicar dos valores strings salta error, porque los strings solo se pueden multiplicar con un valor de integer,n\
como se ha mostrado en los dos chunks anteriores. Para que se repita el string indicada por la cantidad de veces señalada en el integer, n\
se tiene que multiplicar el integer con el string, como se ha mostrado en los códigos previos.")

[1, 2, 3, 4, 5]

In [ ]:
### Part 3: Classes

In [1]:
#9. Class with Attributes and Methods
## Define a class Car with attributes brand, model, and year. Add a method display_info() that prints the car’s details.

In [2]:
# Creo la class Car, incluyendo el método "display_info()"
class Car:
    def __init__(self, brand, model, year):
        self.brand = brand
        self.model = model
        self.year = year
    def display_info(self):
        print(f"Car: {self.brand} {self.model}, Year: {self.year}")

In [3]:
# Creo dos objetos:
car1 = Car("Volkswagen", "Beetle", 1975)
car2 = Car("Honda", "Civic", 2018)

In [4]:
# Llamo al método display_info() para cada objeto:
car1.display_info()
car2.display_info()

Car: Volkswagen Beetle, Year: 1975
Car: Honda Civic, Year: 2018

In [5]:
# 10. Using __init__ and self
## Create a class Student with attributes name, age, and grade. Use the __init__ method to initialize these attributes.
## Add a method is_passed() that returns "Passed" if grade ≥ 11, otherwise "Failed".

In [6]:
# Creamos la class Estudiante: 
class Estudiante:
    def __init__(self, name, age, grade):
        self.name = name
        self.age = age
        self.grade = grade
    
    # Añadimos un método para verificar si aprobó
    def is_passed(self):
        if self.grade >= 11:
            return "Aprobó"
        else:
            return "Jaló"
     
    def display_info(self):
        print(f"Name: {self.name}, Age: {self.age}, Grade: {self.grade}, Status: {self.is_passed()}")

In [7]:
# Crearemor 2 objetos para probar
Estudiante1 = Estudiante("Luis", 20, 15)
Estudiante2 = Estudiante("Ana", 19, 9)

In [8]:
# Probamos con Estudiante1
Estudiante1.display_info()

Name: Luis, Age: 20, Grade: 15, Status: Aprobó

In [9]:
# Probamos con estudiante 2:
Estudiante2.display_info()

Name: Ana, Age: 19, Grade: 9, Status: Jaló

In [10]:
## Re-question: How would you modify the class to add a class attribute school = "PUCP" and display it for all students?

In [11]:
# Un atributo de clase es aquel que es compartido por todas las instancias. En este caso, será school. Para ello, redefinimos la class

In [16]:
class Estudiante:
    school = "PUCP"
    def __init__(self, name, age, grade):
        self.name = name
        self.age = age
        self.grade = grade
     
    def is_passed(self):
        if self.grade >= 11:
            return "Aprobó"
        else:
            return "Jaló"
    def display_info(self):
        print(f"Name: {self.name}, Age: {self.age}, Grade: {self.grade}, Status: {self.is_passed()}, School: {Estudiante.school}")

In [17]:
# Probamos nuevamente:
Estudiante3 = Estudiante("Fátima", 24, 17)
Estudiante4 = Estudiante("Jorge", 25, 5)

In [18]:
# Probamos con Estudiante3 y Estudiante4

In [19]:
Estudiante3.display_info()
Estudiante4.display_info()

Name: Fátima, Age: 24, Grade: 17, Status: Aprobó, School: PUCP
Name: Jorge, Age: 25, Grade: 5, Status: Jaló, School: PUCP