In [18]:
import pandas as pd 

grades = [15,17,20,11,13,18,19]
students_names = ["Ana","Jorge","Valeria","Pedro","Martin","Carlos", "Maria"]

Pandas_Series = pd.Series(grades, index = students_names)
Pandas_Series

Ana        15
Jorge      17
Valeria    20
Pedro      11
Martin     13
Carlos     18
Maria      19
dtype: int64

In [12]:
#Average of the grades
Pandas_Series.mean()

16.142857142857142

In [14]:
#student with the highest grade
Pandas_Series.idxmax()

'Valeria'

In [19]:
#student with lowest grade
Pandas_Series.idxmin()

'Pedro'

In [23]:
countries_capitals = {
    "Spain":"Madrid",
    "France":"Paris",
    "Germany":"Berlin",
    "Italy":"Rome",
    "Portugal":"Lisbon",
    "Netherlands":"Amsterdam",
    "Lima":"Peru",
    "Venezuela":"Caracas",
    "Belgium":"Brussels",
    "Austria":"Vienna"
}

In [27]:
capital_series = pd.Series(countries_capitals)
capital_series

Spain             Madrid
France             Paris
Germany           Berlin
Italy               Rome
Portugal          Lisbon
Netherlands    Amsterdam
Lima                Peru
Venezuela        Caracas
Belgium         Brussels
Austria           Vienna
dtype: object

In [35]:
#Capitals with more than 6 letters

letters_capital = capital_series[capital_series.str.len() > 6]
letters_capital

Netherlands    Amsterdam
Venezuela        Caracas
Belgium         Brussels
dtype: object

In [37]:
fruits = ["apple","pear","banana","orange","grape","pineapple","mango","blueberry"]
fruits_df = pd.Series(fruits)

In [40]:
fruits_upper = fruits_df.apply(str.upper)
fruits_upper

0        APPLE
1         PEAR
2       BANANA
3       ORANGE
4        GRAPE
5    PINEAPPLE
6        MANGO
7    BLUEBERRY
dtype: object