# Tarea 2 
## Ejercicios con loops 11-15

### Indicaciones

#### Ejercicio 11:
For **Loop in NumPy**
Write a for loop using NumPy to iterate through an array of numbers [10, 20, 30, 40, 50] and print each value multiplied by 2.

In [1]:
import numpy as np

In [2]:
sequence = [ 10, 20, 30, 40, 50 ]

In [3]:
for i in sequence:
    print(i*2)

20
40
60
80
100

#### Ejercicio 12:

For **Loop in List**
Create a list of words: ["python", "loop", "list", "iteration"].
Write a for loop to print the length of each word.

Re-question: How can you rewrite the same loop using a list comprehension?

In [14]:
lista = ["python", "loop", "list", "iteration"]

In [15]:
for i in lista:
    print(len(i))

6
4
4
9

In [16]:
# Re-question: How can you rewrite the same loop using a list comprehension?

print([len(i) for i in lista])

[6, 4, 4, 9]

#### Ejercicio 13:

For **Loop in Dictionary**
Given a dictionary of student scores:
{"Alice": 85, "Bob": 92, "Charlie": 78, "Diana": 88}

Write a for loop to print each student's name along with their score.

Re-question: Modify the loop so that it only prints the names of students who scored above 80.

In [17]:
students_scores = { "students" : ['Alice', 'Bob', 'Charlie', 'Diana'] , 
           "scores" : [85, 92, 78, 88] }

In [18]:
students_scores

{'students': ['Alice', 'Bob', 'Charlie', 'Diana'], 'scores': [85, 92, 78, 88]}

In [19]:
for i in range(len(students_scores["students"])):
    print(students_scores["students"][i], students_scores["scores"][i])

Alice 85
Bob 92
Charlie 78
Diana 88

In [20]:
# Re-question: Modify the loop so that it only prints the names of students who scored above 80.

for i in range(len(students_scores["students"])):
    if students_scores["scores"][i] > 80:
        print(students_scores["students"][i])

Alice
Bob
Diana

#### Ejercicio 14:
For **Loop using Range**
Write a for loop using range() to print all even numbers between 1 and 20.

Re-question: How would you change the loop to also calculate the sum of these even numbers while iterating?

In [23]:
for i in range(2, 21, 2):
    print(i)

2
4
6
8
10
12
14
16
18
20

In [25]:
# Re-question: How would you change the loop to also calculate the sum of these even numbers while iterating?
suma = 0
for i in range(2, 21, 2):
    print(i)
    suma += i  

print("Suma total:", suma)

2
4
6
8
10
12
14
16
18
20
Suma total: 110

#### Ejercicio 15: 

Suppose you are analyzing the National Household Survey (ENAHO) dataset, specifically the file ENAHO01A-2023-400.
The question of interest is P41601: “¿Cuánto fue el monto total por la compra o servicio?”.

Write a for loop that iterates over the column P41601 and prints values greater than 5000.

Re-question: How would you optimize this task using pandas vectorized operations (e.g., boolean indexing) instead of a for loop, to make the analysis faster and more efficient?

In [1]:
pwd

'/Users/ariannazavala/Documents/GitHub/Diplomado_PUCP/Lecture_4'

In [2]:
import pandas as pd

In [33]:
df = pd.read_csv(r"../Tarea_2/Enaho01A-2023-400.csv", encoding="ISO-8859-10")

/var/folders/6l/n6xmrbpn0gz37vr1pmqw650r0000gn/T/ipykernel_50111/2143042498.py:1: DtypeWarning: Columns (15,32,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,79,81,123,125,127,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,553,554,555,556,557,558,559,560,569) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(r"../Tarea_2/Enaho01A-2023-400.csv", encoding="ISO-8859-10")

In [34]:
df.isnull().sum()
df = df.dropna()
df

,AŅO,MES,CONGLOME,VIVIENDA,HOGAR,CODPERSO,UBIGEO,DOMINIO,ESTRATO,CODINFOR,...,I41810,I41811,I41812,I41813,I41814,I41815,I41816,FACTOR07,NCONGLOME,SUB_CONGLOME
0,2023,1,5030,2,11,1,10201,7,4,1,...,,,,,,,,118.374542,6618,0
1,2023,1,5030,2,11,2,10201,7,4,2,...,,,204,,,,,118.374542,6618,0
2,2023,1,5030,2,11,3,10201,7,4,2,...,,,,,,,,118.374542,6618,0
3,2023,1,5030,2,11,4,10201,7,4,2,...,,,,,,,,118.374542,6618,0
4,2023,1,5030,11,11,1,10201,7,4,1,...,,,,,,,,118.374542,6618,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112525,2023,12,20670,67,11,5,10503,4,8,2,...,,,,,,,,65.991585,7051,0
112526,2023,12,20670,68,11,1,10503,4,8,1,...,,,,,,,,65.991585,7051,0
112527,2023,12,20670,69,11,1,10503,4,8,1,...,,,,,,,,65.991585,7051,0
112528,2023,12,20670,69,11,2,10503,4,8,2,...,,,216,,,,,65.991585,7051,0
112529,2023,12,20670,69,11,3,10503,4,8,3,...,,,,,,,,65.991585,7051,0

In [35]:
#hacer la variable númerica
df["P41601"] = pd.to_numeric(df["P41601"], errors="coerce")

In [36]:
print(df["P41601"].dtype)

float64

In [42]:
#Write a for loop that iterates over the column P41601 and prints values greater than 5000.

for i in df["P41601"]:
    if i > 5000:
        print(i)

99999.9
99999.9
99999.9
99999.9
99999.9
99999.9
99999.9
99999.9
99999.9
99999.9
99999.9
99999.9
99999.9
99999.9
99999.9
99999.9
99999.9
99999.9
99999.9
99999.9
99999.9
99999.9
99999.9
99999.9
99999.9
99999.9
99999.9
99999.9
99999.9
99999.9
99999.9
99999.9
99999.9
99999.9
99999.9
99999.9
99999.9
99999.9

In [47]:
# How would you optimize this task using pandas vectorized operations (e.g., boolean indexing) instead of a for loop, to make the analysis faster and more efficient?

valores_altos = df.loc[df["P41601"] > 5000, "P41601"]
print(valores_altos)

784       99999.9
794       99999.9
797       99999.9
799       99999.9
3925      99999.9
5731      99999.9
7555      99999.9
8007      99999.9
13958     99999.9
17211     99999.9
26244     99999.9
26639     99999.9
28578     99999.9
36256     99999.9
43753     99999.9
43754     99999.9
45170     99999.9
47369     99999.9
48779     99999.9
49699     99999.9
52736     99999.9
53781     99999.9
66071     99999.9
71331     99999.9
75239     99999.9
76090     99999.9
80685     99999.9
84911     99999.9
87190     99999.9
92416     99999.9
96582     99999.9
99087     99999.9
103332    99999.9
104854    99999.9
107255    99999.9
107757    99999.9
109416    99999.9
110537    99999.9
Name: P41601, dtype: float64