# Parte 1 –Merging 
Este notebook contiene la **Parte 1.2** (preguntas 3–5) resueltas, con explicaciones breves y código ejecutable.

In [1]:
pwd

'/Users/andreachavez/Documents/GitHub/Diplomado_PUCP/Lecture_2/Assignment_2/group_7_assignment2_2025'

In [5]:
#importamos la funciones
import pandas as pd

In [3]:
Enaho01_2023_200 = pd.read_csv ('/Users/andreachavez/Documents/GitHub/Diplomado_PUCP/Lecture_2/Assignment_2/group_7_assignment2_2025/Enaho01-2023-200.csv', encoding="ISO-8859-10")

In [4]:
Enaho01_2023_200

,AŅO,MES,CONGLOME,VIVIENDA,HOGAR,CODPERSO,UBIGEO,DOMINIO,ESTRATO,P201P,...,OCUPAC_R3,OCUPAC_R4,RAMA_R3,RAMA_R4,CODTAREA,CODTIEMPO,TICUEST01,FACPOB07,NCONGLOME,SUB_CONGLOME
0,2023,2,5007,22,11,1,10101,4,4,20190050070221101,...,,,,,,,2,50.466671,7070,0
1,2023,2,5007,22,11,2,10101,4,4,20190050070221102,...,,,,,,,2,50.466671,7070,0
2,2023,2,5007,22,11,3,10101,4,4,20190050070221104,...,,,,,,,2,50.466671,7070,0
3,2023,2,5007,31,11,1,10101,4,4,20190050070311102,...,,,,,,,2,50.466671,7070,0
4,2023,2,5007,31,11,2,10101,4,4,20230050070311102,...,,,,,,,2,50.466671,7070,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119742,2023,4,21001,60,11,2,210903,6,8,20230210010601102,...,,,,,,,2,337.350189,40607,0
119743,2023,4,21001,60,11,3,210903,6,8,20230210010601103,...,,,,,,,2,337.350189,40607,0
119744,2023,4,21001,63,11,1,210903,6,8,20230210010631101,...,,,,,,,2,337.350189,40607,0
119745,2023,4,21001,64,11,1,210903,6,8,20230210010641101,...,,,,,,,2,337.350189,40607,0
119746,2023,4,21001,64,11,2,210903,6,8,20230210010641102,...,,,,,,,2,337.350189,40607,0

#### Mostrar las 5 primera filas

In [9]:
Enaho01_2023_200.head()

,AŅO,MES,CONGLOME,VIVIENDA,HOGAR,CODPERSO,UBIGEO,DOMINIO,ESTRATO,P201P,...,OCUPAC_R3,OCUPAC_R4,RAMA_R3,RAMA_R4,CODTAREA,CODTIEMPO,TICUEST01,FACPOB07,NCONGLOME,SUB_CONGLOME
0,2023,2,5007,22,11,1,10101,4,4,20190050070221101,...,,,,,,,2,50.466671,7070,0
1,2023,2,5007,22,11,2,10101,4,4,20190050070221102,...,,,,,,,2,50.466671,7070,0
2,2023,2,5007,22,11,3,10101,4,4,20190050070221104,...,,,,,,,2,50.466671,7070,0
3,2023,2,5007,31,11,1,10101,4,4,20190050070311102,...,,,,,,,2,50.466671,7070,0
4,2023,2,5007,31,11,2,10101,4,4,20230050070311102,...,,,,,,,2,50.466671,7070,0

#### Convertir los nombres de las columnas en una lista e imprimirla.

In [15]:
#Primero revisaré cuáles son los nombres de las columnas
print(Enaho01_2023_200.columns)

Index(['AŅO', 'MES', 'CONGLOME', 'VIVIENDA', 'HOGAR', 'CODPERSO', 'UBIGEO',
       'DOMINIO', 'ESTRATO', 'P201P', 'P203', 'P203A', 'P203B', 'P204', 'P205',
       'P206', 'P207', 'P208A', 'P208B', 'P209', 'P210', 'P211A', 'P211D',
       'P212', 'P213', 'P214', 'P215', 'P216', 'P217', 'T211', 'OCUPAC_R3',
       'OCUPAC_R4', 'RAMA_R3', 'RAMA_R4', 'CODTAREA', 'CODTIEMPO', 'TICUEST01',
       'FACPOB07', 'NCONGLOME', 'SUB_CONGLOME'],
      dtype='object')

In [16]:
#los convierto en una lista para imprimirlas
columnas = Enaho01_2023_200.columns.tolist()
print(columnas)

['AŅO', 'MES', 'CONGLOME', 'VIVIENDA', 'HOGAR', 'CODPERSO', 'UBIGEO', 'DOMINIO', 'ESTRATO', 'P201P', 'P203', 'P203A', 'P203B', 'P204', 'P205', 'P206', 'P207', 'P208A', 'P208B', 'P209', 'P210', 'P211A', 'P211D', 'P212', 'P213', 'P214', 'P215', 'P216', 'P217', 'T211', 'OCUPAC_R3', 'OCUPAC_R4', 'RAMA_R3', 'RAMA_R4', 'CODTAREA', 'CODTIEMPO', 'TICUEST01', 'FACPOB07', 'NCONGLOME', 'SUB_CONGLOME']

In [21]:
#Verificamos que es una lista 
print(type(columnas))

<class 'list'>

In [42]:
#Verificamos el tipo de datos  !! CONSULTA
print(Enaho01_2023_200.columns)

Index(['AŅO', 'MES', 'CONGLOME', 'VIVIENDA', 'HOGAR', 'CODPERSO', 'UBIGEO',
       'DOMINIO', 'ESTRATO', 'P201P', 'P203', 'P203A', 'P203B', 'P204', 'P205',
       'P206', 'P207', 'P208A', 'P208B', 'P209', 'P210', 'P211A', 'P211D',
       'P212', 'P213', 'P214', 'P215', 'P216', 'P217', 'T211', 'OCUPAC_R3',
       'OCUPAC_R4', 'RAMA_R3', 'RAMA_R4', 'CODTAREA', 'CODTIEMPO', 'TICUEST01',
       'FACPOB07', 'NCONGLOME', 'SUB_CONGLOME'],
      dtype='object')

#### Seleccionar una submuestra que contenga las variables ['CONGLOME', 'VIVIENDA', 'HOGAR', 'CODPERSO'] y las variables 'DOMINIO', 'P209', 'P210' y 'T211'.

##### Las variables adicionales presentan información del dominio geográfico (DOMINIO), estado civil del jefe/a de hogar (P209), si la semana pasada trabajó generando ingreso (P210)y el tipo de actividad de la semana pasada (T211).

In [26]:
#seleccionamos las variables 
sample_Enaho01_2023_200 = ['CONGLOME', 'VIVIENDA', 'HOGAR', 'CODPERSO',
       'DOMINIO', 'P209', 'P210', 'T211']

In [43]:
#creamos un subsample 
subsampleEnaho200 = Enaho01_2023_200[sample_Enaho01_2023_200].copy()

In [41]:
print(subsampleEnaho200)

        CONGLOME  VIVIENDA  HOGAR  CODPERSO  DOMINIO P209 P210 T211
0           5007        22     11         1        4    2
1           5007        22     11         2        4    2
2           5007        22     11         3        4    6
3           5007        31     11         1        4    3
4           5007        31     11         2        4    1
...          ...       ...    ...       ...      ...  ...  ...  ...
119742     21001        60     11         2        6    2
119743     21001        60     11         3        6    1
119744     21001        63     11         1        6    3
119745     21001        64     11         1        6    2
119746     21001        64     11         2        6    2

[119747 rows x 8 columns]