# Parte 1 – Pandas DataFrames

Este notebook trabaja con la Encuesta Nacional de Hogares (ENAHO) de INEI. Se utilizarán dos módulos:

- Vivienda (200)
- Educación (300)

Los archivos están ubicados en la carpeta relativa `./ENAHO/`.

---

In [5]:
# Instalar librerías (solo si aún no están instaladas)
!pip install pandas numpy

Requirement already satisfied: pandas in /Users/andreachavez/anaconda3/lib/python3.11/site-packages (2.0.3)
Requirement already satisfied: numpy in /Users/andreachavez/anaconda3/lib/python3.11/site-packages (1.24.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/andreachavez/anaconda3/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/andreachavez/anaconda3/lib/python3.11/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /Users/andreachavez/anaconda3/lib/python3.11/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /Users/andreachavez/anaconda3/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

## 1. Importar librerías y establecer ruta relativa

In [11]:
import pandas as pd
import numpy as np
import os

# Ruta relativa a los archivos
data_dir = './ENAHO'
# Cambiar directorio a donde están los datos

#### Importamos dataset de Educación (300) y realizamos la exploración inicial

In [15]:
file_300 = os.path.join(data_dir, '/Users/andreachavez/Documents/GitHub/Diplomado_PUCP/Lecture_2/Assignment_2/group_7_assignment2_2025/Enaho01A-2023-300.csv')
df_edu = pd.read_csv(file_300, encoding='ISO-8859-10')

/var/folders/3f/m9xgrdt17lq3hr8r63r73q_w0000gn/T/ipykernel_1386/1805468298.py:2: DtypeWarning: Columns (26,32,60) have mixed types. Specify dtype option on import or set low_memory=False.
  df_edu = pd.read_csv(file_300, encoding='ISO-8859-10')

Primeras 5 filas del dataset de Educación:

,AŅO,MES,CONGLOME,VIVIENDA,HOGAR,CODPERSO,UBIGEO,DOMINIO,ESTRATO,CODINFOR,...,I311D$5,I311D$6,I311D$7,I3121C,I3122C,I315B,FACTOR07,FACTORA07,NCONGLOME,SUB_CONGLOME
0,2023,1,5030,2,11,1,10201,7,4,1,...,,,,,,,118.374542,165.623856,6618,0
1,2023,1,5030,2,11,2,10201,7,4,2,...,,,,,,,118.374542,112.328087,6618,0
2,2023,1,5030,2,11,3,10201,7,4,2,...,,,,,,,118.374542,120.091476,6618,0
3,2023,1,5030,2,11,4,10201,7,4,2,...,,,8,,,,118.374542,110.974678,6618,0
4,2023,1,5030,11,11,1,10201,7,4,1,...,,,,,,,118.374542,96.035370,6618,0

#### Mostramos las 5 primeras filas

In [117]:
print("Primeras 5 filas del dataset de Educación:")
display(df_edu.head())

Primeras 5 filas del dataset de Educación:

,AŅO,MES,CONGLOME,VIVIENDA,HOGAR,CODPERSO,UBIGEO,DOMINIO,ESTRATO,CODINFOR,...,I311D$5,I311D$6,I311D$7,I3121C,I3122C,I315B,FACTOR07,FACTORA07,NCONGLOME,SUB_CONGLOME
0,2023,1,5030,2,11,1,10201,7,4,1,...,,,,,,,118.374542,165.623856,6618,0
1,2023,1,5030,2,11,2,10201,7,4,2,...,,,,,,,118.374542,112.328087,6618,0
2,2023,1,5030,2,11,3,10201,7,4,2,...,,,,,,,118.374542,120.091476,6618,0
3,2023,1,5030,2,11,4,10201,7,4,2,...,,,8,,,,118.374542,110.974678,6618,0
4,2023,1,5030,11,11,1,10201,7,4,1,...,,,,,,,118.374542,96.035370,6618,0

####  Convertimos las columnas en lista

In [119]:
columnas_edu = df_edu.columns.tolist()
print("Columnas del dataset de Educación:")
print(columnas_edu)

Columnas del dataset de Educación:
['AŅO', 'MES', 'CONGLOME', 'VIVIENDA', 'HOGAR', 'CODPERSO', 'UBIGEO', 'DOMINIO', 'ESTRATO', 'CODINFOR', 'P300N', 'P300I', 'P300A', 'P301A', 'P301B', 'P301C', 'P301D', 'P301A0', 'P301A1', 'P301B0', 'P301B1', 'P301B3', 'P302', 'P302X', 'P302A', 'P302B', 'P303', 'P304A', 'P304B', 'P304C', 'P304D', 'P305', 'P306', 'P307', 'P307A1', 'P307A2', 'P307A3', 'P307A4', 'P307A4_5', 'P307A4_6', 'P307A4_7', 'P307B1', 'P307B2', 'P307B3', 'P307B4', 'P307B4_5', 'P307B4_6', 'P307B4_7', 'P307C', 'P308A', 'P308B', 'P308C', 'P308D', 'P308B1', 'P308B2', 'P308B3', 'P308B4', 'P308B5', 'P308C1', 'P308C2', 'P310', 'P310B1', 'P310C0', 'P310C1', 'P310D1', 'P310D2', 'P310E0', 'P310E1', 'P310E3', 'P311N$1', 'P311N$2', 'P311N$3', 'P311N$4', 'P311N$5', 'P311N$6', 'P311N$7', 'P311N$8', 'P311N$9', 'P311$1', 'P311$2', 'P311$3', 'P311$4', 'P311$5', 'P311$6', 'P311$7', 'P311$8', 'P311$9', 'P311A1$1', 'P311A1$2', 'P311A1$3', 'P311A1$4', 'P311A1$5', 'P311A1$6', 'P311A1$7', 'P311A1$8', 'P311A1$9', 'P311A2$1', 'P311A2$2', 'P311A2$3', 'P311A2$4', 'P311A2$5', 'P311A2$6', 'P311A2$7', 'P311A2$8', 'P311A2$9', 'P311A3$1', 'P311A3$2', 'P311A3$3', 'P311A3$4', 'P311A3$5', 'P311A3$6', 'P311A3$7', 'P311A3$8', 'P311A3$9', 'P311A4$1', 'P311A4$2', 'P311A4$3', 'P311A4$4', 'P311A4$5', 'P311A4$6', 'P311A4$7', 'P311A4$8', 'P311A4$9', 'P311A5$1', 'P311A5$2', 'P311A5$3', 'P311A5$4', 'P311A5$5', 'P311A5$6', 'P311A5$7', 'P311A5$8', 'P311A5$9', 'P311A6$1', 'P311A6$2', 'P311A6$3', 'P311A6$4', 'P311A6$5', 'P311A6$6', 'P311A6$7', 'P311A6$8', 'P311A6$9', 'P311A7$1', 'P311A7$2', 'P311A7$3', 'P311A7$4', 'P311A7$5', 'P311A7$6', 'P311A7$7', 'P311A7$8', 'P311A7$9', 'P311B$1', 'P311B$2', 'P311B$3', 'P311B$4', 'P311B$5', 'P311B$6', 'P311B$7', 'P311B$8', 'P311B$9', 'P311C$1', 'P311C$2', 'P311C$3', 'P311C$4', 'P311C$5', 'P311C$6', 'P311C$7', 'P311C$8', 'P311C$9', 'P311D$1', 'P311D$2', 'P311D$3', 'P311D$4', 'P311D$5', 'P311D$6', 'P311D$7', 'P311D$8', 'P311D$9', 'P311D2$1', 'P311D2$2', 'P311D2$3', 'P311D2$4', 'P311D2$5', 'P311D2$6', 'P311D2$7', 'P311D2$8', 'P311D2$9', 'P311D3$1', 'P311D3$2', 'P311D3$3', 'P311D3$4', 'P311D3$5', 'P311D3$6', 'P311D3$7', 'P311D3$8', 'P311D3$9', 'P311D4$1', 'P311D4$2', 'P311D4$3', 'P311D4$4', 'P311D4$5', 'P311D4$6', 'P311D4$7', 'P311D4$8', 'P311D4$9', 'P311D5$1', 'P311D5$2', 'P311D5$3', 'P311D5$4', 'P311D5$5', 'P311D5$6', 'P311D5$7', 'P311D5$8', 'P311D5$9', 'P311D6$1', 'P311D6$2', 'P311D6$3', 'P311D6$4', 'P311D6$5', 'P311D6$6', 'P311D6$7', 'P311D6$8', 'P311D6$9', 'P311D7$1', 'P311D7$2', 'P311D7$3', 'P311D7$4', 'P311D7$5', 'P311D7$6', 'P311D7$7', 'P311D7$8', 'P311D7$9', 'P311E$1', 'P311E$2', 'P311E$3', 'P311E$4', 'P311E$5', 'P311E$6', 'P311E$7', 'P311E$8', 'P311E$9', 'P311T1', 'P311T22', 'P311T23', 'P311T24', 'P311T25', 'P311T26', 'P311T27', 'P311T2', 'P3121', 'P3121A1', 'P3121A2', 'P3121A3', 'P3121A4', 'P3121A5', 'P3121A6', 'P3121B', 'P3121C', 'P3121C2', 'P3121C3', 'P3121C4', 'P3121C5', 'P3121C6', 'P3121D', 'P3122', 'P3122A1', 'P3122A2', 'P3122A3', 'P3122A4', 'P3122A5', 'P3122A6', 'P3122B', 'P3122C', 'P3122C2', 'P3122C3', 'P3122C4', 'P3122C5', 'P3122C6', 'P3122D', 'P312T1', 'P312T22', 'P312T23', 'P312T24', 'P312T25', 'P312T26', 'P312T2', 'P313', 'P314A', 'P314B$1', 'P314B$2', 'P314B$3', 'P314B$4', 'P314B$5', 'P314B$6', 'P314B$7', 'P314B1_1', 'P314B1_2', 'P314B1_6', 'P314B1_7', 'P314B1_8', 'P314B1_9', 'P314D', 'P3151', 'P3152', 'P3153', 'P3154', 'P3155', 'P3156', 'P315A', 'P315B', 'P315B2', 'P315B3', 'P315B4', 'P315B5', 'P315B6', 'P316$1', 'P316$2', 'P316$3', 'P316$4', 'P316$5', 'P316$6', 'P316$7', 'P316$8', 'P316$9', 'P316$10', 'P316$11', 'P316$12', 'P316A1', 'P316A2', 'P316A3', 'P316A4', 'P316A5', 'P316A6', 'P316B', 'P316C1', 'P316C2', 'P316C3', 'P316C4', 'P316C5', 'P316C6', 'P316C7', 'P316C8', 'P316C9', 'P316C10', 'T313A', 'P203', 'P204', 'P205', 'P206', 'P207', 'P208A', 'P209', 'IMPUTADO', 'TICUEST01A', 'D311B$1', 'D311D2$1', 'D311D3$1', 'D311D4$1', 'D311D5$1', 'D311D6$1', 'D311D7$1', 'D311D$1', 'D311B$2', 'D311D2$2', 'D311D3$2', 'D311D4$2', 'D311D5$2', 'D311D6$2', 'D311D7$2', 'D311D$2', 'D311B$3', 'D311D2$3', 'D311D3$3', 'D311D4$3', 'D311D5$3', 'D311D6$3', 'D311D7$3', 'D311D$3', 'D311B$4', 'D311D2$4', 'D311D3$4', 'D311D4$4', 'D311D5$4', 'D311D6$4', 'D311D7$4', 'D311D$4', 'D311B$5', 'D311D2$5', 'D311D3$5', 'D311D4$5', 'D311D5$5', 'D311D6$5', 'D311D7$5', 'D311D$5', 'D311B$6', 'D311D2$6', 'D311D3$6', 'D311D4$6', 'D311D5$6', 'D311D6$6', 'D311D7$6', 'D311D$6', 'D311B$7', 'D311D2$7', 'D311D3$7', 'D311D4$7', 'D311D5$7', 'D311D6$7', 'D311D7$7', 'D311D$7', 'D3121B', 'D3121C2', 'D3121C3', 'D3121C4', 'D3121C5', 'D3121C6', 'D3121C', 'D3122B', 'D3122C2', 'D3122C3', 'D3122C4', 'D3122C5', 'D3122C6', 'D3122C', 'D315A', 'D315B2', 'D315B3', 'D315B4', 'D315B5', 'D315B6', 'D315B', 'I311B$1', 'I311B$2', 'I311B$4', 'I311B$6', 'I311B$3', 'I311B$5', 'I311B$7', 'I311D2$1', 'I311D3$1', 'I311D4$1', 'I311D5$1', 'I311D6$1', 'I311D7$1', 'I311D2$2', 'I311D3$2', 'I311D4$2', 'I311D5$2', 'I311D6$2', 'I311D7$2', 'I311D2$4', 'I311D3$4', 'I311D4$4', 'I311D5$4', 'I311D6$4', 'I311D7$4', 'I311D2$6', 'I311D3$6', 'I311D4$6', 'I311D5$6', 'I311D6$6', 'I311D7$6', 'I311D2$3', 'I311D3$3', 'I311D4$3', 'I311D5$3', 'I311D6$3', 'I311D7$3', 'I311D2$5', 'I311D3$5', 'I311D4$5', 'I311D5$5', 'I311D6$5', 'I311D7$5', 'I311D2$7', 'I311D3$7', 'I311D4$7', 'I311D5$7', 'I311D6$7', 'I311D7$7', 'I3121B', 'I3122B', 'I3121C2', 'I3121C3', 'I3121C4', 'I3121C5', 'I3121C6', 'I3122C2', 'I3122C3', 'I3122C4', 'I3122C5', 'I3122C6', 'I315A', 'I315B2', 'I315B3', 'I315B4', 'I315B5', 'I315B6', 'I311D$1', 'I311D$2', 'I311D$3', 'I311D$4', 'I311D$5', 'I311D$6', 'I311D$7', 'I3121C', 'I3122C', 'I315B', 'FACTOR07', 'FACTORA07', 'NCONGLOME', 'SUB_CONGLOME']

####  Mostramos los tipos de datos

In [125]:
print("Tipos de datos:")
print(df_edu.dtypes)

Tipos de datos:
AŅO               int64
MES               int64
CONGLOME          int64
VIVIENDA          int64
HOGAR             int64
                 ...
I315B            object
FACTOR07        float64
FACTORA07       float64
NCONGLOME         int64
SUB_CONGLOME      int64
Length: 511, dtype: object

## 2. Manipulación de data y limpieza de datos

#### Exploramos la data y usamos funciones de summary para un subsample de variables

In [127]:
cols_base = ['CONGLOME', 'VIVIENDA', 'HOGAR', 'CODPERSO']
cols_extra_edu = ['P301A', 'P301B', 'P301C', 'P311B$4'] 
edu_sub = df_edu[cols_base + cols_extra_edu]
edu_sub

        CONGLOME  VIVIENDA  HOGAR  CODPERSO  P301A P301B P301C P311B$4
0           5030         2     11         1      8     3
1           5030         2     11         2     10     5
2           5030         2     11         3      3     0     4      68
3           5030         2     11         4      3     0     1       5
4           5030        11     11         1      4     5
...          ...       ...    ...       ...    ...   ...   ...     ...
108349     20670        67     11         5      1
108350     20670        68     11         1      5     3
108351     20670        69     11         1      3     0     3
108352     20670        69     11         2      4     0     6
108353     20670        69     11         3      6     5

[108354 rows x 8 columns]

Presentamos los summary de las variables seleccionadas

In [129]:
print("Resumen estadístico:")
print(edu_sub.describe(include='all'))

Resumen estadístico:
             CONGLOME       VIVIENDA          HOGAR       CODPERSO  \
count   108354.000000  108354.000000  108354.000000  108354.000000
unique            NaN            NaN            NaN            NaN
top               NaN            NaN            NaN            NaN
freq              NaN            NaN            NaN            NaN
mean     16944.756797      77.820330      11.146271       2.546293
std       3144.386733      68.547022       1.370084       1.577737
min       5007.000000       1.000000      11.000000       1.000000
25%      16028.000000      31.000000      11.000000       1.000000
50%      17500.000000      66.000000      11.000000       2.000000
75%      19014.000000     106.000000      11.000000       3.000000
max      21001.000000     991.000000      44.000000      22.000000

                P301A   P301B   P301C P311B$4
count   108354.000000  108354  108354  108354
unique            NaN      10       9     852
top               NaN       5
freq              NaN   33141   83572   81452
mean         5.258652     NaN     NaN     NaN
std          3.807669     NaN     NaN     NaN
min          1.000000     NaN     NaN     NaN
25%          3.000000     NaN     NaN     NaN
50%          5.000000     NaN     NaN     NaN
75%          6.000000     NaN     NaN     NaN
max         99.000000     NaN     NaN     NaN

Identificamos y removemos los valores perdidos

In [130]:
print("Valores nulos por columna:")
print(edu_sub.isnull().sum())

edu_sub_clean = edu_sub.dropna()

Valores nulos por columna:
CONGLOME    0
VIVIENDA    0
HOGAR       0
CODPERSO    0
P301A       0
P301B       0
P301C       0
P311B$4     0
dtype: int64

# 3. Importar dataset de Vivienda (200) y explorar los datos

In [131]:
# Importar módulo Vivienda (200)
file_200 = os.path.join(data_dir, '/Users/andreachavez/Documents/GitHub/Diplomado_PUCP/Lecture_2/Assignment_2/group_7_assignment2_2025/Enaho01-2023-200.csv')
df_viv = pd.read_csv(file_200, encoding='ISO-8859-10')

#### Mostramos las 5 primera filas del dataset de Vivienda

In [132]:
# Primeras 5 filas
df_viv.head()

,AŅO,MES,CONGLOME,VIVIENDA,HOGAR,CODPERSO,UBIGEO,DOMINIO,ESTRATO,P201P,...,OCUPAC_R3,OCUPAC_R4,RAMA_R3,RAMA_R4,CODTAREA,CODTIEMPO,TICUEST01,FACPOB07,NCONGLOME,SUB_CONGLOME
0,2023,2,5007,22,11,1,10101,4,4,20190050070221101,...,,,,,,,2,50.466671,7070,0
1,2023,2,5007,22,11,2,10101,4,4,20190050070221102,...,,,,,,,2,50.466671,7070,0
2,2023,2,5007,22,11,3,10101,4,4,20190050070221104,...,,,,,,,2,50.466671,7070,0
3,2023,2,5007,31,11,1,10101,4,4,20190050070311102,...,,,,,,,2,50.466671,7070,0
4,2023,2,5007,31,11,2,10101,4,4,20230050070311102,...,,,,,,,2,50.466671,7070,0

In [79]:
#Primero revisamos cuáles son los nombres de las columnas
print(df_viv.columns)

Index(['AŅO', 'MES', 'CONGLOME', 'VIVIENDA', 'HOGAR', 'CODPERSO', 'UBIGEO',
       'DOMINIO', 'ESTRATO', 'P201P', 'P203', 'P203A', 'P203B', 'P204', 'P205',
       'P206', 'P207', 'P208A', 'P208B', 'P209', 'P210', 'P211A', 'P211D',
       'P212', 'P213', 'P214', 'P215', 'P216', 'P217', 'T211', 'OCUPAC_R3',
       'OCUPAC_R4', 'RAMA_R3', 'RAMA_R4', 'CODTAREA', 'CODTIEMPO', 'TICUEST01',
       'FACPOB07', 'NCONGLOME', 'SUB_CONGLOME'],
      dtype='object')

#### Convertimos las columnas en una lista y la imprimimos

In [80]:
#Los convertimos en una lista para imprimirlas
columnas = df_viv.columns.tolist()
print(columnas)

['AŅO', 'MES', 'CONGLOME', 'VIVIENDA', 'HOGAR', 'CODPERSO', 'UBIGEO', 'DOMINIO', 'ESTRATO', 'P201P', 'P203', 'P203A', 'P203B', 'P204', 'P205', 'P206', 'P207', 'P208A', 'P208B', 'P209', 'P210', 'P211A', 'P211D', 'P212', 'P213', 'P214', 'P215', 'P216', 'P217', 'T211', 'OCUPAC_R3', 'OCUPAC_R4', 'RAMA_R3', 'RAMA_R4', 'CODTAREA', 'CODTIEMPO', 'TICUEST01', 'FACPOB07', 'NCONGLOME', 'SUB_CONGLOME']

In [81]:
#Verificamos que es una lista 
print(type(columnas))

<class 'list'>

#### Verificamos el tipo de datos

In [133]:
print(df_viv.dtypes)

AŅO               int64
MES               int64
CONGLOME          int64
VIVIENDA          int64
HOGAR             int64
CODPERSO          int64
UBIGEO            int64
DOMINIO           int64
ESTRATO           int64
P201P             int64
P203              int64
P203A            object
P203B            object
P204             object
P205             object
P206             object
P207             object
P208A            object
P208B            object
P209             object
P210             object
P211A            object
P211D            object
P212             object
P213             object
P214             object
P215             object
P216             object
P217             object
T211             object
OCUPAC_R3        object
OCUPAC_R4        object
RAMA_R3          object
RAMA_R4          object
CODTAREA         object
CODTIEMPO        object
TICUEST01         int64
FACPOB07        float64
NCONGLOME         int64
SUB_CONGLOME      int64
dtype: object

#### Seleccionamos una submuestra

In [134]:
#seleccionamos las variables y creamos un subsample
viv_sub= df_viv[[
    'CONGLOME', 'VIVIENDA', 'HOGAR', 'CODPERSO',
    'DOMINIO', 'P204', 'P205', 'P206']].copy()

In [135]:
print(viv_sub)

        CONGLOME  VIVIENDA  HOGAR  CODPERSO  DOMINIO P204 P205 P206
0           5007        22     11         1        4    1    2
1           5007        22     11         2        4    1    2
2           5007        22     11         3        4    1    2
3           5007        31     11         1        4    1    2
4           5007        31     11         2        4    2         2
...          ...       ...    ...       ...      ...  ...  ...  ...
119742     21001        60     11         2        6    1    2
119743     21001        60     11         3        6    2         2
119744     21001        63     11         1        6    1    2
119745     21001        64     11         1        6    1    2
119746     21001        64     11         2        6    1    2

[119747 rows x 8 columns]

#### A. Cambiamos un tipo de variable

Convertiremos la 'P204' (¿Es miembro del hogar?) a numérica.

In [60]:
viv_sub['P204'] = pd.to_numeric(viv_sub['P204'], errors='coerce')

In [136]:
#verificamos el tipo y es númerica de tipo float64
print(viv_sub['P204'].dtype)

object

####  B. Reemplazamos los valores de 'P205'

Reemplazaremos la variable DOMINIO de números a dominios

In [138]:
viv_sub.DOMINIO.replace({1: 'Costa Norte' ,
2: 'Costa Centro',
3 :'Costa Sur',
4 : 'Sierra Norte',
5 : 'Sierra Centro',
6 : 'Sierra Sur',
7 : 'Selva',
8 : 'Lima Metropolitana'}, inplace=True)

In [139]:
#verificamos los valores actuales de la pregunta
viv_sub.DOMINIO.head()

0    Sierra Norte
1    Sierra Norte
2    Sierra Norte
3    Sierra Norte
4    Sierra Norte
Name: DOMINIO, dtype: object

# 4. Fusión de Datasets (Merging Datasets)

In [89]:
# Definir columnas comunes para fusionar
common_columns = ['CONGLOME', 'VIVIENDA', 'HOGAR', 'CODPERSO']

# Verificar registros coincidentes entre ambas submuestras
merged_keys = edu_sub_clean[common_columns].merge(viv_sub[common_columns], on=common_columns, how='inner')
print(f"Registros coincidentes en claves comunes: {len(merged_keys)}")

Registros coincidentes en claves comunes: 108354

#### Realizamos la fusión luego de verificar las columnas comunes

In [108]:
# Realizar fusión
df_merged = pd.merge(edu_sub_clean, viv_sub, on=common_columns, how='inner')

# Mostrar resultado
print("\nPrimeras 5 filas del DataFrame fusionado:")
display(df_merged.head())

Primeras 5 filas del DataFrame fusionado:

,CONGLOME,VIVIENDA,HOGAR,CODPERSO,P301A,P301B,P301C,P311B$4,DOMINIO,P204,P205,P206
0,5030,2,11,1,8,3,,,Selva,1.0,No,
1,5030,2,11,2,10,5,,,Selva,1.0,No,
2,5030,2,11,3,3,0,4,68,Selva,1.0,No,
3,5030,2,11,4,3,0,1,5,Selva,1.0,No,
4,5030,11,11,1,4,5,,,Selva,1.0,No,

# 5. En el Dataframe resultante

In [141]:
df_merged["P311B$4"] = pd.to_numeric(df_merged["P311B$4"], errors="coerce")
print(df_merged["P311B$4"].dtype)

float64

In [142]:
# Agrupar por dominio y calcular promedio de gasto en útiles escolares por dominio
resultado = df_merged.groupby('DOMINIO')['P311B$4'].mean().reset_index()

# Mostrar resultado
print("Promedio de gasto en útiles escolares por dominio:")
print(resultado)

Promedio de gasto en útiles escolares por dominio:
              DOMINIO       P311B$4
0        Costa Centro   3411.290960
1         Costa Norte   5274.820112
2           Costa Sur   8652.500352
3  Lima Metropolitana  11427.812000
4               Selva   3589.382683
5       Sierra Centro   1527.216035
6        Sierra Norte   4893.444378
7          Sierra Sur  13166.127995