# Parte 1 –Merging 
Este notebook contiene la **Parte 1.2** (preguntas 3–5) resueltas, con explicaciones breves y código ejecutable.

In [4]:
pwd

'/Users/andreachavez/Documents/GitHub/Diplomado_PUCP/Lecture_2/Assignment_2/group_7_assignment2_2025'

In [5]:
#importamos la funciones
import pandas as pd

In [6]:
Enaho01_2023_200 = pd.read_csv ('/Users/andreachavez/Documents/GitHub/Diplomado_PUCP/Lecture_2/Assignment_2/group_7_assignment2_2025/Enaho01-2023-200.csv', encoding="ISO-8859-10")

In [7]:
Enaho01_2023_200

,AŅO,MES,CONGLOME,VIVIENDA,HOGAR,CODPERSO,UBIGEO,DOMINIO,ESTRATO,P201P,...,OCUPAC_R3,OCUPAC_R4,RAMA_R3,RAMA_R4,CODTAREA,CODTIEMPO,TICUEST01,FACPOB07,NCONGLOME,SUB_CONGLOME
0,2023,2,5007,22,11,1,10101,4,4,20190050070221101,...,,,,,,,2,50.466671,7070,0
1,2023,2,5007,22,11,2,10101,4,4,20190050070221102,...,,,,,,,2,50.466671,7070,0
2,2023,2,5007,22,11,3,10101,4,4,20190050070221104,...,,,,,,,2,50.466671,7070,0
3,2023,2,5007,31,11,1,10101,4,4,20190050070311102,...,,,,,,,2,50.466671,7070,0
4,2023,2,5007,31,11,2,10101,4,4,20230050070311102,...,,,,,,,2,50.466671,7070,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119742,2023,4,21001,60,11,2,210903,6,8,20230210010601102,...,,,,,,,2,337.350189,40607,0
119743,2023,4,21001,60,11,3,210903,6,8,20230210010601103,...,,,,,,,2,337.350189,40607,0
119744,2023,4,21001,63,11,1,210903,6,8,20230210010631101,...,,,,,,,2,337.350189,40607,0
119745,2023,4,21001,64,11,1,210903,6,8,20230210010641101,...,,,,,,,2,337.350189,40607,0
119746,2023,4,21001,64,11,2,210903,6,8,20230210010641102,...,,,,,,,2,337.350189,40607,0

#### Mostrar las 5 primera filas

In [8]:
Enaho01_2023_200.head()

,AŅO,MES,CONGLOME,VIVIENDA,HOGAR,CODPERSO,UBIGEO,DOMINIO,ESTRATO,P201P,...,OCUPAC_R3,OCUPAC_R4,RAMA_R3,RAMA_R4,CODTAREA,CODTIEMPO,TICUEST01,FACPOB07,NCONGLOME,SUB_CONGLOME
0,2023,2,5007,22,11,1,10101,4,4,20190050070221101,...,,,,,,,2,50.466671,7070,0
1,2023,2,5007,22,11,2,10101,4,4,20190050070221102,...,,,,,,,2,50.466671,7070,0
2,2023,2,5007,22,11,3,10101,4,4,20190050070221104,...,,,,,,,2,50.466671,7070,0
3,2023,2,5007,31,11,1,10101,4,4,20190050070311102,...,,,,,,,2,50.466671,7070,0
4,2023,2,5007,31,11,2,10101,4,4,20230050070311102,...,,,,,,,2,50.466671,7070,0

#### Convertir los nombres de las columnas en una lista e imprimirla.

In [9]:
#Primero revisaré cuáles son los nombres de las columnas
print(Enaho01_2023_200.columns)

Index(['AŅO', 'MES', 'CONGLOME', 'VIVIENDA', 'HOGAR', 'CODPERSO', 'UBIGEO',
       'DOMINIO', 'ESTRATO', 'P201P', 'P203', 'P203A', 'P203B', 'P204', 'P205',
       'P206', 'P207', 'P208A', 'P208B', 'P209', 'P210', 'P211A', 'P211D',
       'P212', 'P213', 'P214', 'P215', 'P216', 'P217', 'T211', 'OCUPAC_R3',
       'OCUPAC_R4', 'RAMA_R3', 'RAMA_R4', 'CODTAREA', 'CODTIEMPO', 'TICUEST01',
       'FACPOB07', 'NCONGLOME', 'SUB_CONGLOME'],
      dtype='object')

In [10]:
#los convierto en una lista para imprimirlas
columnas = Enaho01_2023_200.columns.tolist()
print(columnas)

['AŅO', 'MES', 'CONGLOME', 'VIVIENDA', 'HOGAR', 'CODPERSO', 'UBIGEO', 'DOMINIO', 'ESTRATO', 'P201P', 'P203', 'P203A', 'P203B', 'P204', 'P205', 'P206', 'P207', 'P208A', 'P208B', 'P209', 'P210', 'P211A', 'P211D', 'P212', 'P213', 'P214', 'P215', 'P216', 'P217', 'T211', 'OCUPAC_R3', 'OCUPAC_R4', 'RAMA_R3', 'RAMA_R4', 'CODTAREA', 'CODTIEMPO', 'TICUEST01', 'FACPOB07', 'NCONGLOME', 'SUB_CONGLOME']

In [11]:
#Verificamos que es una lista 
print(type(columnas))

<class 'list'>

In [12]:
#Verificamos el tipo de datos
Enaho01_2023_200.dtypes

AŅO               int64
MES               int64
CONGLOME          int64
VIVIENDA          int64
HOGAR             int64
CODPERSO          int64
UBIGEO            int64
DOMINIO           int64
ESTRATO           int64
P201P             int64
P203              int64
P203A            object
P203B            object
P204             object
P205             object
P206             object
P207             object
P208A            object
P208B            object
P209             object
P210             object
P211A            object
P211D            object
P212             object
P213             object
P214             object
P215             object
P216             object
P217             object
T211             object
OCUPAC_R3        object
OCUPAC_R4        object
RAMA_R3          object
RAMA_R4          object
CODTAREA         object
CODTIEMPO        object
TICUEST01         int64
FACPOB07        float64
NCONGLOME         int64
SUB_CONGLOME      int64
dtype: object

#### Seleccionar una submuestra que contenga las variables ['CONGLOME', 'VIVIENDA', 'HOGAR', 'CODPERSO'] y las variables 'DOMINIO', 'P209', 'P210' y 'T211'.

Las variables adicionales presentan información del dominio geográfico (DOMINIO), estado civil del jefe/a de hogar (P209), si la semana pasada trabajó generando ingreso (P210) y el tipo de actividad de la semana pasada (T211).

In [40]:
#seleccionamos las variables y creamos un subsample
viv_sub= Enaho01_2023_200[[
    'CONGLOME', 'VIVIENDA', 'HOGAR', 'CODPERSO',
    'DOMINIO', 'P204', 'P205', 'P206']].copy()

In [41]:
print(viv_sub)

        CONGLOME  VIVIENDA  HOGAR  CODPERSO  DOMINIO P204 P205 P206
0           5007        22     11         1        4    1    2
1           5007        22     11         2        4    1    2
2           5007        22     11         3        4    1    2
3           5007        31     11         1        4    1    2
4           5007        31     11         2        4    2         2
...          ...       ...    ...       ...      ...  ...  ...  ...
119742     21001        60     11         2        6    1    2
119743     21001        60     11         3        6    2         2
119744     21001        63     11         1        6    1    2
119745     21001        64     11         1        6    1    2
119746     21001        64     11         2        6    1    2

[119747 rows x 8 columns]

#### A. Cambiar un tipo de variable

Vamos a cambiar la variable P209 (estado civil del jefe/a de hogar) a numérica.

In [42]:
#primero verificamos los tipos de variables de esta subsample
viv_sub.dtypes

CONGLOME     int64
VIVIENDA     int64
HOGAR        int64
CODPERSO     int64
DOMINIO      int64
P204        object
P205        object
P206        object
dtype: object

In [43]:
#vamos a cambiar la variable P209 (estado civil del jefe/a de hogar) a numérica
viv_sub['P204'] = pd.to_numeric(viv_sub['P204'], 
    errors='coerce')

In [44]:
#verificamos el tipo y es númerica de tipo float64
print(viv_sub['P204'].dtype)

float64

#### B. Modificar valores en una columna específica

Vamos a cambiar los valores de la variable P210 (La semana pasada ... ¿Estuvo trabajando o realizando alguna tarea en el hogar o fuera de él para obtener algún ingreso?) de "1" y "2" a "Sí" o "No" respectivamente.

In [39]:
#verificamos los valores actuales de la pregunta
viv_sub.P205.unique()

array(['2', ' ', '1'], dtype=object)

In [58]:
viv_sub.P205.replace({'1': 'Sí', '2': 'No', '': None}, inplace=True)

In [59]:
#verificamos los valores actuales de la pregunta
viv_sub.P205.head(30)

0       No
1       No
2       No
3       No
4     None
5     None
6     None
7     None
8       No
9       No
10      No
11      No
12      No
13      No
14      No
15      No
16      No
17    None
18      No
19      No
20      Sí
21      Sí
22      No
23      No
24      No
25      No
26      No
27      No
28      No
29      No
Name: P205, dtype: object