# Part 1 – Pandas DataFrames  

For this section, we will work with the **National Household Survey (ENAHO)** dataset extracted from [INEI](https://proyectos.inei.gob.pe/microdatos/).  
In this [shared drive folder](https://drive.google.com/drive/folders/1h00GwfCRyq0Grem3bR26yxc33ELYJwG8?usp=sharing), you will find:  
- A reference questionnaire (you can review it to identify questions of interest).  
- Three datasets corresponding to the following modules: **Housing (200)**, **Education (300)**, and **Labor (500)**.  
Download files in your local. 
---

1. Set your working directory and **import the dataset** `Enaho01A-2023-300.csv` using Pandas.  

> Note: Consider the file encoding (`UTF-8` or `ISO-8859-10`).  
> Example: `df = pd.read_csv("datos.csv", encoding="ISO-8859-10")`  

- Read and display the **first 5 rows**.  
- Convert the column names into a **list** and print it.  
- Check the **data types** of the DataFrame.  
- Select a subsample containing the variables `['CONGLOME', 'VIVIENDA', 'HOGAR', 'CODPERSO']` and between 3–5 additional variables of your interest.

In [5]:
import pandas as pd

In [2]:
df = pd.read_csv("C:\Diplomado_PUCP_25\Enaho01A-2023-300.csv", encoding="ISO-8859-10")

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Diplomado_PUCP_25\\Enaho01A-2023-300.csv'

In [3]:
# Mostrar las primeras filas
print(df.head())

NameError: name 'df' is not defined

In [5]:
# Convertir nombres de columnas a lista
print(list(df.columns))

['AŅO', 'MES', 'CONGLOME', 'VIVIENDA', 'HOGAR', 'CODPERSO', 'UBIGEO', 'DOMINIO', 'ESTRATO', 'CODINFOR', 'P300N', 'P300I', 'P300A', 'P301A', 'P301B', 'P301C', 'P301D', 'P301A0', 'P301A1', 'P301B0', 'P301B1', 'P301B3', 'P302', 'P302X', 'P302A', 'P302B', 'P303', 'P304A', 'P304B', 'P304C', 'P304D', 'P305', 'P306', 'P307', 'P307A1', 'P307A2', 'P307A3', 'P307A4', 'P307A4_5', 'P307A4_6', 'P307A4_7', 'P307B1', 'P307B2', 'P307B3', 'P307B4', 'P307B4_5', 'P307B4_6', 'P307B4_7', 'P307C', 'P308A', 'P308B', 'P308C', 'P308D', 'P308B1', 'P308B2', 'P308B3', 'P308B4', 'P308B5', 'P308C1', 'P308C2', 'P310', 'P310B1', 'P310C0', 'P310C1', 'P310D1', 'P310D2', 'P310E0', 'P310E1', 'P310E3', 'P311N$1', 'P311N$2', 'P311N$3', 'P311N$4', 'P311N$5', 'P311N$6', 'P311N$7', 'P311N$8', 'P311N$9', 'P311$1', 'P311$2', 'P311$3', 'P311$4', 'P311$5', 'P311$6', 'P311$7', 'P311$8', 'P311$9', 'P311A1$1', 'P311A1$2', 'P311A1$3', 'P311A1$4', 'P311A1$5', 'P311A1$6', 'P311A1$7', 'P311A1$8', 'P311A1$9', 'P311A2$1', 'P311A2$2', 'P311A2$3', 'P311A2$4', 'P311A2$5', 'P311A2$6', 'P311A2$7', 'P311A2$8', 'P311A2$9', 'P311A3$1', 'P311A3$2', 'P311A3$3', 'P311A3$4', 'P311A3$5', 'P311A3$6', 'P311A3$7', 'P311A3$8', 'P311A3$9', 'P311A4$1', 'P311A4$2', 'P311A4$3', 'P311A4$4', 'P311A4$5', 'P311A4$6', 'P311A4$7', 'P311A4$8', 'P311A4$9', 'P311A5$1', 'P311A5$2', 'P311A5$3', 'P311A5$4', 'P311A5$5', 'P311A5$6', 'P311A5$7', 'P311A5$8', 'P311A5$9', 'P311A6$1', 'P311A6$2', 'P311A6$3', 'P311A6$4', 'P311A6$5', 'P311A6$6', 'P311A6$7', 'P311A6$8', 'P311A6$9', 'P311A7$1', 'P311A7$2', 'P311A7$3', 'P311A7$4', 'P311A7$5', 'P311A7$6', 'P311A7$7', 'P311A7$8', 'P311A7$9', 'P311B$1', 'P311B$2', 'P311B$3', 'P311B$4', 'P311B$5', 'P311B$6', 'P311B$7', 'P311B$8', 'P311B$9', 'P311C$1', 'P311C$2', 'P311C$3', 'P311C$4', 'P311C$5', 'P311C$6', 'P311C$7', 'P311C$8', 'P311C$9', 'P311D$1', 'P311D$2', 'P311D$3', 'P311D$4', 'P311D$5', 'P311D$6', 'P311D$7', 'P311D$8', 'P311D$9', 'P311D2$1', 'P311D2$2', 'P311D2$3', 'P311D2$4', 'P311D2$5', 'P311D2$6', 'P311D2$7', 'P311D2$8', 'P311D2$9', 'P311D3$1', 'P311D3$2', 'P311D3$3', 'P311D3$4', 'P311D3$5', 'P311D3$6', 'P311D3$7', 'P311D3$8', 'P311D3$9', 'P311D4$1', 'P311D4$2', 'P311D4$3', 'P311D4$4', 'P311D4$5', 'P311D4$6', 'P311D4$7', 'P311D4$8', 'P311D4$9', 'P311D5$1', 'P311D5$2', 'P311D5$3', 'P311D5$4', 'P311D5$5', 'P311D5$6', 'P311D5$7', 'P311D5$8', 'P311D5$9', 'P311D6$1', 'P311D6$2', 'P311D6$3', 'P311D6$4', 'P311D6$5', 'P311D6$6', 'P311D6$7', 'P311D6$8', 'P311D6$9', 'P311D7$1', 'P311D7$2', 'P311D7$3', 'P311D7$4', 'P311D7$5', 'P311D7$6', 'P311D7$7', 'P311D7$8', 'P311D7$9', 'P311E$1', 'P311E$2', 'P311E$3', 'P311E$4', 'P311E$5', 'P311E$6', 'P311E$7', 'P311E$8', 'P311E$9', 'P311T1', 'P311T22', 'P311T23', 'P311T24', 'P311T25', 'P311T26', 'P311T27', 'P311T2', 'P3121', 'P3121A1', 'P3121A2', 'P3121A3', 'P3121A4', 'P3121A5', 'P3121A6', 'P3121B', 'P3121C', 'P3121C2', 'P3121C3', 'P3121C4', 'P3121C5', 'P3121C6', 'P3121D', 'P3122', 'P3122A1', 'P3122A2', 'P3122A3', 'P3122A4', 'P3122A5', 'P3122A6', 'P3122B', 'P3122C', 'P3122C2', 'P3122C3', 'P3122C4', 'P3122C5', 'P3122C6', 'P3122D', 'P312T1', 'P312T22', 'P312T23', 'P312T24', 'P312T25', 'P312T26', 'P312T2', 'P313', 'P314A', 'P314B$1', 'P314B$2', 'P314B$3', 'P314B$4', 'P314B$5', 'P314B$6', 'P314B$7', 'P314B1_1', 'P314B1_2', 'P314B1_6', 'P314B1_7', 'P314B1_8', 'P314B1_9', 'P314D', 'P3151', 'P3152', 'P3153', 'P3154', 'P3155', 'P3156', 'P315A', 'P315B', 'P315B2', 'P315B3', 'P315B4', 'P315B5', 'P315B6', 'P316$1', 'P316$2', 'P316$3', 'P316$4', 'P316$5', 'P316$6', 'P316$7', 'P316$8', 'P316$9', 'P316$10', 'P316$11', 'P316$12', 'P316A1', 'P316A2', 'P316A3', 'P316A4', 'P316A5', 'P316A6', 'P316B', 'P316C1', 'P316C2', 'P316C3', 'P316C4', 'P316C5', 'P316C6', 'P316C7', 'P316C8', 'P316C9', 'P316C10', 'T313A', 'P203', 'P204', 'P205', 'P206', 'P207', 'P208A', 'P209', 'IMPUTADO', 'TICUEST01A', 'D311B$1', 'D311D2$1', 'D311D3$1', 'D311D4$1', 'D311D5$1', 'D311D6$1', 'D311D7$1', 'D311D$1', 'D311B$2', 'D311D2$2', 'D311D3$2', 'D311D4$2', 'D311D5$2', 'D311D6$2', 'D311D7$2', 'D311D$2', 'D311B$3', 'D311D2$3', 'D311D3$3', 'D311D4$3', 'D311D5$3', 'D311D6$3', 'D311D7$3', 'D311D$3', 'D311B$4', 'D311D2$4', 'D311D3$4', 'D311D4$4', 'D311D5$4', 'D311D6$4', 'D311D7$4', 'D311D$4', 'D311B$5', 'D311D2$5', 'D311D3$5', 'D311D4$5', 'D311D5$5', 'D311D6$5', 'D311D7$5', 'D311D$5', 'D311B$6', 'D311D2$6', 'D311D3$6', 'D311D4$6', 'D311D5$6', 'D311D6$6', 'D311D7$6', 'D311D$6', 'D311B$7', 'D311D2$7', 'D311D3$7', 'D311D4$7', 'D311D5$7', 'D311D6$7', 'D311D7$7', 'D311D$7', 'D3121B', 'D3121C2', 'D3121C3', 'D3121C4', 'D3121C5', 'D3121C6', 'D3121C', 'D3122B', 'D3122C2', 'D3122C3', 'D3122C4', 'D3122C5', 'D3122C6', 'D3122C', 'D315A', 'D315B2', 'D315B3', 'D315B4', 'D315B5', 'D315B6', 'D315B', 'I311B$1', 'I311B$2', 'I311B$4', 'I311B$6', 'I311B$3', 'I311B$5', 'I311B$7', 'I311D2$1', 'I311D3$1', 'I311D4$1', 'I311D5$1', 'I311D6$1', 'I311D7$1', 'I311D2$2', 'I311D3$2', 'I311D4$2', 'I311D5$2', 'I311D6$2', 'I311D7$2', 'I311D2$4', 'I311D3$4', 'I311D4$4', 'I311D5$4', 'I311D6$4', 'I311D7$4', 'I311D2$6', 'I311D3$6', 'I311D4$6', 'I311D5$6', 'I311D6$6', 'I311D7$6', 'I311D2$3', 'I311D3$3', 'I311D4$3', 'I311D5$3', 'I311D6$3', 'I311D7$3', 'I311D2$5', 'I311D3$5', 'I311D4$5', 'I311D5$5', 'I311D6$5', 'I311D7$5', 'I311D2$7', 'I311D3$7', 'I311D4$7', 'I311D5$7', 'I311D6$7', 'I311D7$7', 'I3121B', 'I3122B', 'I3121C2', 'I3121C3', 'I3121C4', 'I3121C5', 'I3121C6', 'I3122C2', 'I3122C3', 'I3122C4', 'I3122C5', 'I3122C6', 'I315A', 'I315B2', 'I315B3', 'I315B4', 'I315B5', 'I315B6', 'I311D$1', 'I311D$2', 'I311D$3', 'I311D$4', 'I311D$5', 'I311D$6', 'I311D$7', 'I3121C', 'I3122C', 'I315B', 'FACTOR07', 'FACTORA07', 'NCONGLOME', 'SUB_CONGLOME']

In [6]:
# Revisar tipos de datos
print(df.dtypes)

AŅO               int64
MES               int64
CONGLOME          int64
VIVIENDA          int64
HOGAR             int64
                 ...
I315B            object
FACTOR07        float64
FACTORA07       float64
NCONGLOME         int64
SUB_CONGLOME      int64
Length: 511, dtype: object

In [7]:
# Seleccionar submuestra (ejemplo con 4 obligatorias + 3 más de interés)
sub_df = df[['CONGLOME', 'VIVIENDA', 'HOGAR', 'CODPERSO',
             'P208A', 'P209', 'P301A']]

print(sub_df.head())

   CONGLOME  VIVIENDA  HOGAR  CODPERSO  P208A P209  P301A
0      5030         2     11         1     43    1      8
1      5030         2     11         2     41    1     10
2      5030         2     11         3      9           3
3      5030         2     11         4      7           3
4      5030        11     11         1     60    2      4

---

2. **Data Manipulation (Data Cleaning):**  
- Explore the DataFrame using summary functions.  
- Identify if there are missing values.  
- If they exist, remove them.

In [8]:
# Explorar el DataFrame con funciones de resumen
print(df.info())       # Información general (filas, columnas, tipos de datos, valores nulos)
print(df.describe())   # Estadísticos básicos de las variables numéricas

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 108354 entries, 0 to 108353
Columns: 511 entries, AŅO to SUB_CONGLOME
dtypes: float64(2), int64(21), object(488)
memory usage: 422.4+ MB
None
            AŅO            MES       CONGLOME       VIVIENDA          HOGAR  \
count  108354.0  108354.000000  108354.000000  108354.000000  108354.000000
mean     2023.0       6.495127   16944.756797      77.820330      11.146271
std         0.0       3.445244    3144.386733      68.547022       1.370084
min      2023.0       1.000000    5007.000000       1.000000      11.000000
25%      2023.0       3.000000   16028.000000      31.000000      11.000000
50%      2023.0       7.000000   17500.000000      66.000000      11.000000
75%      2023.0       9.000000   19014.000000     106.000000      11.000000
max      2023.0      12.000000   21001.000000     991.000000      44.000000

            CODPERSO         UBIGEO        DOMINIO        ESTRATO  \
count  108354.000000  108354.000000  108354.000000  108354.000000
mean        2.546293  131185.171087       4.864961       4.138961
std         1.577737   67736.903764       2.404443       2.432348
min         1.000000   10101.000000       1.000000       1.000000
25%         1.000000   80101.000000       2.000000       2.000000
50%         2.000000  140108.000000       5.000000       4.000000
75%         3.000000  180301.000000       7.000000       7.000000
max        22.000000  250401.000000       8.000000       8.000000

            CODINFOR  ...          P301A           P203           P204  \
count  108354.000000  ...  108354.000000  108354.000000  108354.000000
mean        2.033058  ...       5.258652       2.548729       1.005787
std         1.282622  ...       3.807669       1.716218       0.075850
min         0.000000  ...       1.000000       1.000000       1.000000
25%         1.000000  ...       3.000000       1.000000       1.000000
50%         2.000000  ...       5.000000       3.000000       1.000000
75%         2.000000  ...       6.000000       3.000000       1.000000
max        21.000000  ...      99.000000      11.000000       2.000000

                P207          P208A     TICUEST01A       FACTOR07  \
count  108354.000000  108354.000000  108354.000000  108354.000000
mean        1.513428      35.619839       1.999539     305.556281
std         0.499822      22.152408       0.021477     310.795722
min         1.000000       3.000000       1.000000       1.087094
25%         1.000000      16.000000       2.000000     123.659256
50%         2.000000      33.000000       2.000000     233.634140
75%         2.000000      53.000000       2.000000     354.661774
max         2.000000      98.000000       2.000000    1961.005981

           FACTORA07      NCONGLOME   SUB_CONGLOME
count  108354.000000  108354.000000  108354.000000
mean      302.602025   23603.093914       0.282325
std       322.927385   15607.753763       0.662107
min         0.422172       2.000000       0.000000
25%       101.125488    8855.000000       0.000000
50%       218.866760   20186.000000       0.000000
75%       365.609833   37361.000000       0.000000
max      2917.495850   51561.000000       6.000000

[8 rows x 23 columns]

In [9]:
# Identificar si hay valores perdidos
print(df.isnull().sum())   # Muestra cuántos valores faltan por cada columna

AŅO             0
MES             0
CONGLOME        0
VIVIENDA        0
HOGAR           0
               ..
I315B           0
FACTOR07        0
FACTORA07       0
NCONGLOME       0
SUB_CONGLOME    0
Length: 511, dtype: int64

In [10]:
# Eliminar filas con valores perdidos (si existen)
df_limpio = df.dropna()

In [11]:
# Verificar nuevamente
print(df_limpio.isnull().sum())

AŅO             0
MES             0
CONGLOME        0
VIVIENDA        0
HOGAR           0
               ..
I315B           0
FACTOR07        0
FACTORA07       0
NCONGLOME       0
SUB_CONGLOME    0
Length: 511, dtype: int64

---

3. Import a second dataset (choose between `Enaho01A-2023-200.csv` or `Enaho01A-2023-500.csv`).  
- Display the **first 5 rows**.  
- Convert the column names into a **list** and print it.  
- Check the **data types**.  
- Select a subsample containing the variables `['CONGLOME', 'VIVIENDA', 'HOGAR', 'CODPERSO']` and between 3–5 additional variables of your interest.  
- Perform the following modifications:  
  - **A.** Change the data type of a variable (e.g., from text to numeric).  
  - **B.** Modify some values in a specific column.

In [12]:
df2 = pd.read_csv("C:\Diplomado_PUCP_25\Enaho01-2023-200.csv", encoding="ISO-8859-10")

In [13]:
# Ver primeras 5 filas
print(df2.head())

    AŅO  MES  CONGLOME  VIVIENDA  HOGAR  CODPERSO  UBIGEO  DOMINIO  ESTRATO  \
0  2023    2      5007        22     11         1   10101        4        4
1  2023    2      5007        22     11         2   10101        4        4
2  2023    2      5007        22     11         3   10101        4        4
3  2023    2      5007        31     11         1   10101        4        4
4  2023    2      5007        31     11         2   10101        4        4

               P201P  ...  OCUPAC_R3 OCUPAC_R4 RAMA_R3 RAMA_R4 CODTAREA  \
0  20190050070221101  ...
1  20190050070221102  ...
2  20190050070221104  ...
3  20190050070311102  ...
4  20230050070311102  ...

  CODTIEMPO TICUEST01   FACPOB07 NCONGLOME SUB_CONGLOME
0                   2  50.466671      7070            0
1                   2  50.466671      7070            0
2                   2  50.466671      7070            0
3                   2  50.466671      7070            0
4                   2  50.466671      7070            0

[5 rows x 40 columns]

In [14]:
# Nombres de columnas como lista
print(list(df2.columns))

['AŅO', 'MES', 'CONGLOME', 'VIVIENDA', 'HOGAR', 'CODPERSO', 'UBIGEO', 'DOMINIO', 'ESTRATO', 'P201P', 'P203', 'P203A', 'P203B', 'P204', 'P205', 'P206', 'P207', 'P208A', 'P208B', 'P209', 'P210', 'P211A', 'P211D', 'P212', 'P213', 'P214', 'P215', 'P216', 'P217', 'T211', 'OCUPAC_R3', 'OCUPAC_R4', 'RAMA_R3', 'RAMA_R4', 'CODTAREA', 'CODTIEMPO', 'TICUEST01', 'FACPOB07', 'NCONGLOME', 'SUB_CONGLOME']

In [15]:
# Tipos de datos
print(df2.dtypes)

AŅO               int64
MES               int64
CONGLOME          int64
VIVIENDA          int64
HOGAR             int64
CODPERSO          int64
UBIGEO            int64
DOMINIO           int64
ESTRATO           int64
P201P             int64
P203              int64
P203A            object
P203B            object
P204             object
P205             object
P206             object
P207             object
P208A            object
P208B            object
P209             object
P210             object
P211A            object
P211D            object
P212             object
P213             object
P214             object
P215             object
P216             object
P217             object
T211             object
OCUPAC_R3        object
OCUPAC_R4        object
RAMA_R3          object
RAMA_R4          object
CODTAREA         object
CODTIEMPO        object
TICUEST01         int64
FACPOB07        float64
NCONGLOME         int64
SUB_CONGLOME      int64
dtype: object

In [16]:
# Submuestra con variables de interés
sub_df2 = df2[['CONGLOME', 'VIVIENDA', 'HOGAR', 'CODPERSO',
               'P208A', 'P209', 'P210']]  # 3 variables extra como ejemplo
print(sub_df2.head())

   CONGLOME  VIVIENDA  HOGAR  CODPERSO P208A P209 P210
0      5007        22     11         1    64    2
1      5007        22     11         2    63    2
2      5007        22     11         3    31    6
3      5007        31     11         1    79    3
4      5007        31     11         2    50    1

In [17]:
# Cambiar el tipo de dato de una variable (ejemplo: P208A a numérico)
sub_df2['P208A'] = pd.to_numeric(sub_df2['P208A'], errors='coerce')

C:\Users\econg\AppData\Local\Temp\ipykernel_13132\1983104125.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sub_df2['P208A'] = pd.to_numeric(sub_df2['P208A'], errors='coerce')

In [18]:
# Modificar algunos valores en una columna (ejemplo: renombrar en P209)
# Supongamos que P209 = 1 es "Hombre" y 2 es "Mujer"
sub_df2['P209'] = sub_df2['P209'].replace({1: 'Hombre', 2: 'Mujer'})

print(sub_df2.head())

   CONGLOME  VIVIENDA  HOGAR  CODPERSO  P208A P209 P210
0      5007        22     11         1   64.0    2
1      5007        22     11         2   63.0    2
2      5007        22     11         3   31.0    6
3      5007        31     11         1   79.0    3
4      5007        31     11         2   50.0    1

C:\Users\econg\AppData\Local\Temp\ipykernel_13132\2934664164.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sub_df2['P209'] = sub_df2['P209'].replace({1: 'Hombre', 2: 'Mujer'})

---

4. **Merging Datasets:**  [2 pts]
- Identify the common columns between the two datasets (from questions 16 and 18).  
- Verify whether the values match in both datasets. If not, correct the mismatched values to ensure a proper merge.  

> Recommendation: Use the following as common columns:  
> `common_columns = ['CONGLOME', 'VIVIENDA', 'HOGAR', 'CODPERSO']`  
> in `pd.merge(..., on=common_columns, how=...)`.  

- Perform the **merge**.  
- Display the **first 5 rows** of the resulting DataFrame.

In [19]:
# Hemos importado df (300) y df2 (200)
# Definir columnas comunes
common_columns = ['CONGLOME', 'VIVIENDA', 'HOGAR', 'CODPERSO']

In [20]:
# Verificamos si los nombres de las columnas coinciden en ambos datasets
print("Columnas en df:", set(df.columns))
print("Columnas en df2:", set(df2.columns))

Columnas en df: {'P311D7$9', 'FACTOR07', 'P311D5$8', 'P311D5$9', 'P3122A4', 'P316C4', 'D315B5', 'P311B$4', 'P311B$7', 'P311C$1', 'P209', 'D311D7$1', 'D311D4$6', 'I311D4$7', 'P311A1$8', 'P311D3$8', 'P311A6$1', 'P3122A2', 'P314B1_2', 'I311B$2', 'P314B1_6', 'P316C3', 'P311B$1', 'I311D3$4', 'I311D5$2', 'P311A3$4', 'I311D2$7', 'P308C1', 'P311D5$2', 'P301C', 'P311C$3', 'P311D6$2', 'P305', 'P3122A1', 'P205', 'P301A0', 'D311D5$1', 'P315B2', 'P311C$2', 'D311D5$5', 'I311D2$4', 'I311D$2', 'P314B$5', 'P311A2$7', 'P311N$8', 'P311A6$2', 'I315B6', 'I311D5$7', 'P311B$6', 'P311D7$1', 'P311$7', 'I311D6$2', 'D3121B', 'P314B$2', 'P311D2$6', 'I311D$7', 'P311D3$4', 'P311B$5', 'D311D6$1', 'P311A1$5', 'P311E$3', 'P316C10', 'I311D6$1', 'P307B3', 'P3121D', 'P311A7$5', 'P300N', 'D311D5$7', 'DOMINIO', 'D3121C2', 'D3121C3', 'P311A7$3', 'P311A3$7', 'P311A7$1', 'D311D2$1', 'P315B6', 'D3122C4', 'D311D$7', 'P307B4', 'I311D2$3', 'P311E$2', 'P3121B', 'P311$4', 'P316$11', 'D311D6$2', 'P311D7$6', 'P311D3$7', 'P314B1_7', 'MES', 'P311D7$7', 'P3122A6', 'P315B', 'FACTORA07', 'P311A2$9', 'P316$5', 'P3121C2', 'P311N$7', 'P311D3$5', 'D3121C4', 'P311$8', 'P311D6$7', 'ESTRATO', 'D311D5$3', 'P311D$5', 'P304A', 'I315A', 'P311$6', 'I311D6$5', 'I311D$4', 'P307', 'P311D3$1', 'P3122A5', 'P310', 'P311A6$3', 'P311D4$6', 'D3121C5', 'I3121C5', 'P311E$6', 'P302B', 'P311D4$3', 'P207', 'P3122C5', 'P311A2$1', 'P311A1$7', 'P311D4$2', 'I311D6$3', 'P203', 'P302', 'P311E$4', 'P311D6$3', 'D3121C', 'D311D4$3', 'D315B', 'I311D7$3', 'P314A', 'P311C$9', 'D3122B', 'P308D', 'I3121C', 'P314B$7', 'D311D4$2', 'P311A2$2', 'I311D7$5', 'HOGAR', 'I311D4$3', 'D311B$5', 'I311D6$6', 'I311D2$5', 'AŅO', 'I311D5$3', 'P311B$9', 'P311A1$3', 'P311D3$2', 'P311D7$8', 'P311A4$4', 'I311D7$7', 'P311A5$1', 'D311D5$6', 'P311A3$9', 'P310D1', 'I311D5$1', 'P303', 'P311$9', 'P311D$9', 'P311A2$5', 'D311D6$5', 'P314B1_9', 'I311D3$5', 'D311D$1', 'P311A6$4', 'P301A', 'I311B$1', 'CONGLOME', 'P311A6$9', 'D315B4', 'P316C6', 'D311D6$4', 'P311D7$5', 'P314B$1', 'D311D7$5', 'P311A4$5', 'P314D', 'P311N$3', 'P307B2', 'P311T26', 'P311D$4', 'P316$3', 'P311D6$5', 'P311A6$5', 'P204', 'I311D5$6', 'P315A', 'P3121C3', 'I3121C6', 'P311A4$2', 'P311A5$2', 'D311D7$7', 'P316C7', 'D315B6', 'I315B', 'P311D5$7', 'D311B$6', 'D311D4$4', 'P312T26', 'P311A5$7', 'P311D2$1', 'I3122C6', 'I311D4$4', 'I3121C3', 'P311N$9', 'P311$5', 'P3122C2', 'D3122C', 'UBIGEO', 'CODINFOR', 'P316$7', 'I311D4$5', 'NCONGLOME', 'D311D$4', 'P306', 'D3122C6', 'I3122C5', 'P3122C6', 'P307A1', 'D311D2$4', 'D311D3$1', 'P3122C4', 'TICUEST01A', 'P311E$1', 'D315B3', 'P311D5$4', 'I311B$7', 'I315B2', 'P308B3', 'I311D6$4', 'D3122C5', 'I311B$5', 'P307C', 'I3121C4', 'D311D7$3', 'D3122C2', 'P206', 'D311D$3', 'P311D4$1', 'P3151', 'P311D3$3', 'P311D7$4', 'P3121C5', 'P311T23', 'P312T1', 'P311A7$2', 'P208A', 'D311D6$3', 'P301D', 'P308A', 'P3121C', 'D311D4$5', 'P3121A3', 'P311T27', 'P314B1_1', 'P316A3', 'D311D$2', 'P311D5$1', 'P315B5', 'P3152', 'P316$8', 'P311A3$8', 'P307B4_7', 'P311A2$8', 'P316C2', 'D311B$4', 'I3121C2', 'P311E$7', 'I3122C4', 'P301B1', 'I311D$6', 'P311A5$6', 'P302A', 'P312T23', 'P311D3$6', 'D311D6$6', 'P311D2$3', 'D311D5$4', 'P311D4$5', 'P311$3', 'P311D4$9', 'P308B5', 'P316C5', 'P311A7$6', 'P316C8', 'P310B1', 'P311D3$9', 'P311A4$6', 'D311D2$6', 'P3121A5', 'P311A5$5', 'P316A1', 'P311B$8', 'P316$2', 'P307A2', 'I3122C', 'D311B$7', 'I3122C2', 'P308C', 'P311A1$4', 'P311A5$4', 'D311D2$2', 'D311D3$5', 'I311D7$1', 'P314B$3', 'P316C9', 'P311A3$1', 'P3122C3', 'P301B0', 'P311A3$3', 'P311N$4', 'P3121A6', 'D315B2', 'P316$9', 'I311D7$4', 'P314B$4', 'P3121A2', 'D311D2$7', 'D311D4$1', 'D311B$2', 'P311D4$8', 'D315A', 'P316$6', 'D311D3$3', 'P310C1', 'D311D5$2', 'P311T22', 'P311D6$1', 'P312T24', 'P3121C6', 'P316$12', 'P311T1', 'P3122A3', 'D311D7$6', 'P316A2', 'P311D$1', 'P315B4', 'SUB_CONGLOME', 'P316A5', 'P307A4_7', 'P311C$4', 'P311D$6', 'P311A5$9', 'P311D5$5', 'I311B$6', 'I311D7$6', 'I311D$5', 'P311C$7', 'I311D4$6', 'P315B3', 'D311D6$7', 'P311D2$9', 'P311A6$8', 'I315B4', 'I311D7$2', 'I311D5$5', 'P311A4$3', 'D3121C6', 'D311D2$3', 'P3121A1', 'D311B$3', 'P311D2$5', 'P311A4$9', 'P301A1', 'P307B1', 'P304B', 'P311D2$7', 'P3122', 'P311A6$7', 'D311D3$7', 'P311A1$2', 'P311T24', 'I311D2$1', 'P311D6$4', 'P3153', 'P3122D', 'P311A5$3', 'P311D6$8', 'P311T25', 'P316A4', 'P310E1', 'P311T2', 'I311D3$1', 'P302X', 'I3122B', 'P307A4_5', 'P316$4', 'P312T22', 'P311D2$4', 'P311A7$4', 'I311D$3', 'P311A4$1', 'P311C$8', 'I311D3$6', 'I311B$3', 'P311D6$6', 'I3121B', 'P3121A4', 'I311D3$3', 'P311D$2', 'P310E0', 'P311A2$6', 'P311C$6', 'P311A5$8', 'P311A7$8', 'P307A3', 'P314B$6', 'D311D7$4', 'P311A1$6', 'P310E3', 'P311D6$9', 'P3122B', 'I311B$4', 'D311D7$2', 'P311D$8', 'P311A1$9', 'P311A7$7', 'P311D7$2', 'P311$1', 'I311D4$2', 'D311D3$2', 'P310D2', 'I311D3$7', 'P311C$5', 'D3122C3', 'I311D4$1', 'P3154', 'I311D5$4', 'P300I', 'D311D2$5', 'P311A3$6', 'P3122C', 'P311D$3', 'CODPERSO', 'P311A1$1', 'P311D4$4', 'P311A2$4', 'P307A4', 'I3122C3', 'P316B', 'P311D2$2', 'P316$1', 'P308B1', 'D311D4$7', 'P304D', 'P311B$3', 'I311D2$2', 'P311N$2', 'P311$2', 'P311D5$6', 'D311D$6', 'P311A7$9', 'I311D2$6', 'P316$10', 'P300A', 'P311B$2', 'P311A3$5', 'I311D6$7', 'I311D$1', 'P311E$5', 'P304C', 'P301B3', 'P311E$8', 'D311D3$4', 'I311D3$2', 'D311D$5', 'P311A3$2', 'P308C2', 'T313A', 'P307A4_6', 'P310C0', 'P308B', 'P311A2$3', 'P311A6$6', 'P316A6', 'P311D4$7', 'I315B5', 'P311A4$7', 'P307B4_5', 'P311D2$8', 'P307B4_6', 'P311N$5', 'P3121', 'I315B3', 'P311D5$3', 'VIVIENDA', 'P308B2', 'P314B1_8', 'P316C1', 'IMPUTADO', 'D311B$1', 'P3121C4', 'P301B', 'P311D$7', 'P312T2', 'P311A4$8', 'P311N$1', 'P311N$6', 'P3155', 'P311D7$3', 'P313', 'P311E$9', 'P312T25', 'D311D3$6', 'P3156', 'P308B4'}
Columnas en df2: {'HOGAR', 'P208A', 'RAMA_R4', 'UBIGEO', 'AŅO', 'P216', 'P203A', 'P207', 'NCONGLOME', 'DOMINIO', 'VIVIENDA', 'P205', 'P201P', 'P215', 'FACPOB07', 'P212', 'ESTRATO', 'P209', 'P203', 'CODTIEMPO', 'P204', 'P217', 'RAMA_R3', 'CODTAREA', 'MES', 'P213', 'P211A', 'P206', 'P211D', 'T211', 'SUB_CONGLOME', 'OCUPAC_R3', 'CODPERSO', 'P208B', 'P210', 'OCUPAC_R4', 'TICUEST01', 'P214', 'P203B', 'CONGLOME'}

In [21]:
# Verificamos si existen diferencias en los valores clave
print(df[common_columns].head())
print(df2[common_columns].head())

   CONGLOME  VIVIENDA  HOGAR  CODPERSO
0      5030         2     11         1
1      5030         2     11         2
2      5030         2     11         3
3      5030         2     11         4
4      5030        11     11         1
   CONGLOME  VIVIENDA  HOGAR  CODPERSO
0      5007        22     11         1
1      5007        22     11         2
2      5007        22     11         3
3      5007        31     11         1
4      5007        31     11         2

In [22]:
# Verificamos si existen errores de formato
for col in common_columns:
    df[col] = df[col].astype(str).str.strip()
    df2[col] = df2[col].astype(str).str.strip()

In [23]:
# Realizamos la unión (merge) usando las columnas comunes
df_merged = pd.merge(df, df2, on=common_columns, how="inner")

In [24]:
# Mostrar primeras 5 filas del DataFrame combinado
print(df_merged.head())

   AŅO_x  MES_x CONGLOME VIVIENDA HOGAR CODPERSO  UBIGEO_x  DOMINIO_x  \
0   2023      1     5030        2    11        1     10201          7
1   2023      1     5030        2    11        2     10201          7
2   2023      1     5030        2    11        3     10201          7
3   2023      1     5030        2    11        4     10201          7
4   2023      1     5030       11    11        1     10201          7

   ESTRATO_x  CODINFOR  ...  OCUPAC_R3  OCUPAC_R4  RAMA_R3  RAMA_R4 CODTAREA  \
0          4         1  ...
1          4         2  ...
2          4         2  ...
3          4         2  ...
4          4         1  ...

  CODTIEMPO TICUEST01    FACPOB07 NCONGLOME_y SUB_CONGLOME_y
0                   2  118.374542        6618              0
1                   2  118.374542        6618              0
2                   2  118.374542        6618              0
3                   2  118.374542        6618              0
4                   2  118.374542        6618              0

[5 rows x 547 columns]

---

5. In the resulting DataFrame:  
- Group the data by a variable of your choice using `groupby()`.  
- Calculate a relevant statistical indicator, for example: the **average income per category**.

In [25]:
# Agrupar por sexo (P209_y) y calcular el ingreso promedio_y
resultado = df_merged.groupby('P209_y')['NCONGLOME_y'].mean()

print(resultado)

P209_y
     23295.302717
1    23048.550097
2    24128.679762
3    23682.408167
4    25664.943299
5    23879.302499
6    23668.747556
Name: NCONGLOME_y, dtype: float64

---
# Part 2 – If conditions 

---
6. Basic If Condition  
Write a Python function that checks if a given number is positive.  
- If the number is greater than zero, return `"The number X is positive."`.  
- Otherwise, return `"The number X is not positive."`.

In [1]:
def check_number(i):
    if i > 0:
        return f'El número {i} es positivo'
    else:
        return f'El número {i} es negativo'

In [6]:
print(check_number(10))
print(check_number(-100))

El número 10 es positivo
El número -100 es negativo

---

7. If Condition with Multiple Expressions  
Create a program that checks the temperature (in Celsius) and returns a message depending on the value:  
- If the temperature is **below 0**, return `"It is freezing."`.  
- If the temperature is between **0 and 20**, return `"It is cold."`.  
- If the temperature is between **21 and 30**, return `"It is warm."`.  
- If the temperature is greater than **30**, return `"It is hot."`.

In [12]:
def temperature(i):
    if i < 0:
        return "It is freezing"
    elif 0 <= i <= 20:
        return "It is cold"
    elif 21 <= i <= 30:
        return "It is warm"
    else:
        return "It is hot"

In [15]:
print(temperature(-5))
print(temperature(10))
print(temperature(23))
print(temperature(39))

It is freezing
It is cold
It is warm
It is hot

---

8. Logical Operators   [2 pts]
Write a function that determines if a person is eligible for a scholarship based on these conditions:  
- The person must have a GPA greater than **3.5** **AND**  
- Either their extracurricular activities are `"Yes"` **OR** they have community service hours greater than **50**.  

The function should return:  
- `"Eligible for scholarship."` if conditions are met.  
- `"Not eligible for scholarship."` otherwise.

In [19]:
def scholarship(gpa, activities, community):
    if gpa > 3.5 and (activities.lower() == 'yes' or community > 50):
        return "Eligible for scholarship"
    else:
        return "Not eligible for scholarship"

In [26]:
print(scholarship(4,'YEs',40))
print(scholarship(3.2,'YES',55))
print(scholarship(5,'NO',49))

Eligible for scholarship
Not eligible for scholarship
Not eligible for scholarship

---

9. Python Identity Operators  
Create two lists:  
```python
list1 = [1, 2, 3]
list2 = [1, 2, 3]
list3 = list1 
```

Check with identity operators:
```python
list1 is list2
list1 is list3
list1 == list2 
 ```

Explain the difference in the results for each comparison.

In [28]:
list1 = [1, 2, 3]
list2 = [1, 2, 3]
list3 = list1

print('list1 is list2:', list1 is list2)
print('list1 is list3:', list1 is list3)
print('list1 == list2:', list1 == list2)

list1 is list2: False
list1 is list3: True
list1 == list2: True

- La función 'is' compara identidad
- La función '==' compara contenido

---

10. Nested If Statement  [2 pts] 

Write a function that takes a student's score and determines the grade:  

- If the score is greater than or equal to 90, return `"A"`.  
- If the score is between 80 and 89:  
  - Check if the score is exactly 85, then return `"B+"`.  
  - Otherwise, return `"B"`.  
- If the score is between 70 and 79, return `"C"`.  
- Otherwise, return `"Fail"`.

In [29]:
def score(i):
    if i >= 90:
        return 'A'
    elif 80 <= i <= 89:
        if i ==85:
            return 'B+'
        else:
            return 'B'
    elif 70 <= i <= 79:
        return "C"
    else:
        return "Fail"

In [31]:
print(score(20))
print(score(71))
print(score(83))
print(score(85))
print(score(92))

Fail
C
B
B+
A

--- 

# Part 3 – For loops

---

11. For Loop in NumPy  

Write a for loop using **NumPy** to iterate through an array of numbers `[10, 20, 30, 40, 50]` and print each value multiplied by 2.  

- Re-question: How would you modify the loop so that it stores the results in a new NumPy array instead of just printing them?

In [6]:
# Part 1
import numpy as np
arr = np.array([10, 20, 30, 40, 50])
for valor in arr:
    print(valor * 2)

20
40
60
80
100

In [7]:
#Part 2
arr = np.array([10, 20, 30, 40, 50])
resultados = []   # lista vacía

for valor in arr:
    resultados.append(valor * 2)

# Convertir la lista a arreglo de NumPy
resultados = np.array(resultados)
print(resultados)

[ 20  40  60  80 100]

---

12. For Loop in List  

Create a list of words: `["python", "loop", "list", "iteration"]`.  
Write a for loop to print the length of each word.  

- Re-question: How can you rewrite the same loop using a **list comprehension**?

In [9]:
#Part 1
palabras = ["python", "loop", "list", "iteration"]

for palabra in palabras:
    print(len(palabra))

6
4
4
9

In [10]:
#Part 2
palabras = ["python", "loop", "list", "iteration"]
longitudes = [len(palabra) for palabra in palabras]
print(longitudes)

[6, 4, 4, 9]

---

13. For Loop in Dictionary  

Given a dictionary of student scores:  
`{"Alice": 85, "Bob": 92, "Charlie": 78, "Diana": 88}`  

Write a for loop to print each student's name along with their score.  

- Re-question: Modify the loop so that it only prints the names of students who scored above 80.

In [ ]:
#Pa
scores = {"Alice": 85, "Bob": 92, "Charlie": 78, "Diana": 88}

for nombre, puntaje in scores.items():
    print(nombre, ":", puntaje)

---

14. For Loop using Range  

Write a for loop using `range()` to print all even numbers between 1 and 20.  

- Re-question: How would you change the loop to also calculate the **sum** of these even numbers while iterating?

---

15. Iterations over Pandas (ENAHO dataset)  [2 pts] 

Suppose you are analyzing the **National Household Survey (ENAHO)** dataset, specifically the file **`ENAHO01A-2023-400`**.  
The question of interest is **`P41601`**: *“¿Cuánto fue el monto total por la compra o servicio?”*.  

Write a `for` loop that iterates over the column `P41601` and prints values greater than **5000**.  

- **Re-question:** How would you optimize this task using **pandas vectorized operations** (e.g., boolean indexing) instead of a `for` loop, to make the analysis faster and more efficient?