In [ ]:
# Part 1 – Pandas DataFrames

# For this section, we will work with the National Household Survey (ENAHO) dataset extracted from INEI.
# In this shared drive folder, you will find:

# A reference questionnaire (you can review it to identify questions of interest).
# Three datasets corresponding to the following modules: Housing (200), Education (300), and Labor (500). (Pedro)
# Download files in your local.

In [4]:
# 1. Set your working directory and import the dataset Enaho01A-2023-300.csv using Pandas. (Pedro)

import pandas as pd
data1 = "C:\ENAHO-2023\Enaho01A-2023-300.csv"

# Note: Consider the file encoding (UTF-8 or ISO-8859-10).
df = pd.read_csv(data1, encoding="ISO-8859-1")

# Read and display the first 5 rows.
print("Primeras 5 filas:")
print(df.head())

# Convert the column names into a list and print it.
columnas = list(df.columns)
print("\nLista de columnas:")
print(columnas)

# Check the data types of the DataFrame.
print("\nTipos de datos del DataFrame:")
print(df.dtypes)

# Select a subsample containing the variables ['CONGLOME', 'VIVIENDA', 'HOGAR', 'CODPERSO'] and between 3–5 
# additional variables of your interest.
base_vars = ['CONGLOME', 'VIVIENDA', 'HOGAR', 'CODPERSO']
extra_vars = ['P301A', 'P301B', 'P301C']

sub_df = df[base_vars + extra_vars]

print("\nSubmuestra seleccionada:")
print(sub_df.head())

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_20032\2941782371.py:7: DtypeWarning: Columns (26,32,60) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(data1, encoding="ISO-8859-1")

Primeras 5 filas:
    AÑO  MES  CONGLOME  VIVIENDA  HOGAR  CODPERSO  UBIGEO  DOMINIO  ESTRATO  \
0  2023    1      5030         2     11         1   10201        7        4
1  2023    1      5030         2     11         2   10201        7        4
2  2023    1      5030         2     11         3   10201        7        4
3  2023    1      5030         2     11         4   10201        7        4
4  2023    1      5030        11     11         1   10201        7        4

   CODINFOR  ...  I311D$5  I311D$6  I311D$7  I3121C I3122C I315B    FACTOR07  \
0         1  ...                                                  118.374542
1         2  ...                                                  118.374542
2         2  ...                                                  118.374542
3         2  ...                          8                       118.374542
4         1  ...                                                  118.374542

    FACTORA07 NCONGLOME SUB_CONGLOME
0  165.623856      6618            0
1  112.328087      6618            0
2  120.091476      6618            0
3  110.974678      6618            0
4   96.035370      6618            0

[5 rows x 511 columns]

Lista de columnas:
['AÑO', 'MES', 'CONGLOME', 'VIVIENDA', 'HOGAR', 'CODPERSO', 'UBIGEO', 'DOMINIO', 'ESTRATO', 'CODINFOR', 'P300N', 'P300I', 'P300A', 'P301A', 'P301B', 'P301C', 'P301D', 'P301A0', 'P301A1', 'P301B0', 'P301B1', 'P301B3', 'P302', 'P302X', 'P302A', 'P302B', 'P303', 'P304A', 'P304B', 'P304C', 'P304D', 'P305', 'P306', 'P307', 'P307A1', 'P307A2', 'P307A3', 'P307A4', 'P307A4_5', 'P307A4_6', 'P307A4_7', 'P307B1', 'P307B2', 'P307B3', 'P307B4', 'P307B4_5', 'P307B4_6', 'P307B4_7', 'P307C', 'P308A', 'P308B', 'P308C', 'P308D', 'P308B1', 'P308B2', 'P308B3', 'P308B4', 'P308B5', 'P308C1', 'P308C2', 'P310', 'P310B1', 'P310C0', 'P310C1', 'P310D1', 'P310D2', 'P310E0', 'P310E1', 'P310E3', 'P311N$1', 'P311N$2', 'P311N$3', 'P311N$4', 'P311N$5', 'P311N$6', 'P311N$7', 'P311N$8', 'P311N$9', 'P311$1', 'P311$2', 'P311$3', 'P311$4', 'P311$5', 'P311$6', 'P311$7', 'P311$8', 'P311$9', 'P311A1$1', 'P311A1$2', 'P311A1$3', 'P311A1$4', 'P311A1$5', 'P311A1$6', 'P311A1$7', 'P311A1$8', 'P311A1$9', 'P311A2$1', 'P311A2$2', 'P311A2$3', 'P311A2$4', 'P311A2$5', 'P311A2$6', 'P311A2$7', 'P311A2$8', 'P311A2$9', 'P311A3$1', 'P311A3$2', 'P311A3$3', 'P311A3$4', 'P311A3$5', 'P311A3$6', 'P311A3$7', 'P311A3$8', 'P311A3$9', 'P311A4$1', 'P311A4$2', 'P311A4$3', 'P311A4$4', 'P311A4$5', 'P311A4$6', 'P311A4$7', 'P311A4$8', 'P311A4$9', 'P311A5$1', 'P311A5$2', 'P311A5$3', 'P311A5$4', 'P311A5$5', 'P311A5$6', 'P311A5$7', 'P311A5$8', 'P311A5$9', 'P311A6$1', 'P311A6$2', 'P311A6$3', 'P311A6$4', 'P311A6$5', 'P311A6$6', 'P311A6$7', 'P311A6$8', 'P311A6$9', 'P311A7$1', 'P311A7$2', 'P311A7$3', 'P311A7$4', 'P311A7$5', 'P311A7$6', 'P311A7$7', 'P311A7$8', 'P311A7$9', 'P311B$1', 'P311B$2', 'P311B$3', 'P311B$4', 'P311B$5', 'P311B$6', 'P311B$7', 'P311B$8', 'P311B$9', 'P311C$1', 'P311C$2', 'P311C$3', 'P311C$4', 'P311C$5', 'P311C$6', 'P311C$7', 'P311C$8', 'P311C$9', 'P311D$1', 'P311D$2', 'P311D$3', 'P311D$4', 'P311D$5', 'P311D$6', 'P311D$7', 'P311D$8', 'P311D$9', 'P311D2$1', 'P311D2$2', 'P311D2$3', 'P311D2$4', 'P311D2$5', 'P311D2$6', 'P311D2$7', 'P311D2$8', 'P311D2$9', 'P311D3$1', 'P311D3$2', 'P311D3$3', 'P311D3$4', 'P311D3$5', 'P311D3$6', 'P311D3$7', 'P311D3$8', 'P311D3$9', 'P311D4$1', 'P311D4$2', 'P311D4$3', 'P311D4$4', 'P311D4$5', 'P311D4$6', 'P311D4$7', 'P311D4$8', 'P311D4$9', 'P311D5$1', 'P311D5$2', 'P311D5$3', 'P311D5$4', 'P311D5$5', 'P311D5$6', 'P311D5$7', 'P311D5$8', 'P311D5$9', 'P311D6$1', 'P311D6$2', 'P311D6$3', 'P311D6$4', 'P311D6$5', 'P311D6$6', 'P311D6$7', 'P311D6$8', 'P311D6$9', 'P311D7$1', 'P311D7$2', 'P311D7$3', 'P311D7$4', 'P311D7$5', 'P311D7$6', 'P311D7$7', 'P311D7$8', 'P311D7$9', 'P311E$1', 'P311E$2', 'P311E$3', 'P311E$4', 'P311E$5', 'P311E$6', 'P311E$7', 'P311E$8', 'P311E$9', 'P311T1', 'P311T22', 'P311T23', 'P311T24', 'P311T25', 'P311T26', 'P311T27', 'P311T2', 'P3121', 'P3121A1', 'P3121A2', 'P3121A3', 'P3121A4', 'P3121A5', 'P3121A6', 'P3121B', 'P3121C', 'P3121C2', 'P3121C3', 'P3121C4', 'P3121C5', 'P3121C6', 'P3121D', 'P3122', 'P3122A1', 'P3122A2', 'P3122A3', 'P3122A4', 'P3122A5', 'P3122A6', 'P3122B', 'P3122C', 'P3122C2', 'P3122C3', 'P3122C4', 'P3122C5', 'P3122C6', 'P3122D', 'P312T1', 'P312T22', 'P312T23', 'P312T24', 'P312T25', 'P312T26', 'P312T2', 'P313', 'P314A', 'P314B$1', 'P314B$2', 'P314B$3', 'P314B$4', 'P314B$5', 'P314B$6', 'P314B$7', 'P314B1_1', 'P314B1_2', 'P314B1_6', 'P314B1_7', 'P314B1_8', 'P314B1_9', 'P314D', 'P3151', 'P3152', 'P3153', 'P3154', 'P3155', 'P3156', 'P315A', 'P315B', 'P315B2', 'P315B3', 'P315B4', 'P315B5', 'P315B6', 'P316$1', 'P316$2', 'P316$3', 'P316$4', 'P316$5', 'P316$6', 'P316$7', 'P316$8', 'P316$9', 'P316$10', 'P316$11', 'P316$12', 'P316A1', 'P316A2', 'P316A3', 'P316A4', 'P316A5', 'P316A6', 'P316B', 'P316C1', 'P316C2', 'P316C3', 'P316C4', 'P316C5', 'P316C6', 'P316C7', 'P316C8', 'P316C9', 'P316C10', 'T313A', 'P203', 'P204', 'P205', 'P206', 'P207', 'P208A', 'P209', 'IMPUTADO', 'TICUEST01A', 'D311B$1', 'D311D2$1', 'D311D3$1', 'D311D4$1', 'D311D5$1', 'D311D6$1', 'D311D7$1', 'D311D$1', 'D311B$2', 'D311D2$2', 'D311D3$2', 'D311D4$2', 'D311D5$2', 'D311D6$2', 'D311D7$2', 'D311D$2', 'D311B$3', 'D311D2$3', 'D311D3$3', 'D311D4$3', 'D311D5$3', 'D311D6$3', 'D311D7$3', 'D311D$3', 'D311B$4', 'D311D2$4', 'D311D3$4', 'D311D4$4', 'D311D5$4', 'D311D6$4', 'D311D7$4', 'D311D$4', 'D311B$5', 'D311D2$5', 'D311D3$5', 'D311D4$5', 'D311D5$5', 'D311D6$5', 'D311D7$5', 'D311D$5', 'D311B$6', 'D311D2$6', 'D311D3$6', 'D311D4$6', 'D311D5$6', 'D311D6$6', 'D311D7$6', 'D311D$6', 'D311B$7', 'D311D2$7', 'D311D3$7', 'D311D4$7', 'D311D5$7', 'D311D6$7', 'D311D7$7', 'D311D$7', 'D3121B', 'D3121C2', 'D3121C3', 'D3121C4', 'D3121C5', 'D3121C6', 'D3121C', 'D3122B', 'D3122C2', 'D3122C3', 'D3122C4', 'D3122C5', 'D3122C6', 'D3122C', 'D315A', 'D315B2', 'D315B3', 'D315B4', 'D315B5', 'D315B6', 'D315B', 'I311B$1', 'I311B$2', 'I311B$4', 'I311B$6', 'I311B$3', 'I311B$5', 'I311B$7', 'I311D2$1', 'I311D3$1', 'I311D4$1', 'I311D5$1', 'I311D6$1', 'I311D7$1', 'I311D2$2', 'I311D3$2', 'I311D4$2', 'I311D5$2', 'I311D6$2', 'I311D7$2', 'I311D2$4', 'I311D3$4', 'I311D4$4', 'I311D5$4', 'I311D6$4', 'I311D7$4', 'I311D2$6', 'I311D3$6', 'I311D4$6', 'I311D5$6', 'I311D6$6', 'I311D7$6', 'I311D2$3', 'I311D3$3', 'I311D4$3', 'I311D5$3', 'I311D6$3', 'I311D7$3', 'I311D2$5', 'I311D3$5', 'I311D4$5', 'I311D5$5', 'I311D6$5', 'I311D7$5', 'I311D2$7', 'I311D3$7', 'I311D4$7', 'I311D5$7', 'I311D6$7', 'I311D7$7', 'I3121B', 'I3122B', 'I3121C2', 'I3121C3', 'I3121C4', 'I3121C5', 'I3121C6', 'I3122C2', 'I3122C3', 'I3122C4', 'I3122C5', 'I3122C6', 'I315A', 'I315B2', 'I315B3', 'I315B4', 'I315B5', 'I315B6', 'I311D$1', 'I311D$2', 'I311D$3', 'I311D$4', 'I311D$5', 'I311D$6', 'I311D$7', 'I3121C', 'I3122C', 'I315B', 'FACTOR07', 'FACTORA07', 'NCONGLOME', 'SUB_CONGLOME']

Tipos de datos del DataFrame:
AÑO               int64
MES               int64
CONGLOME          int64
VIVIENDA          int64
HOGAR             int64
                 ...
I315B            object
FACTOR07        float64
FACTORA07       float64
NCONGLOME         int64
SUB_CONGLOME      int64
Length: 511, dtype: object

Submuestra seleccionada:
   CONGLOME  VIVIENDA  HOGAR  CODPERSO  P301A P301B P301C
0      5030         2     11         1      8     3
1      5030         2     11         2     10     5
2      5030         2     11         3      3     0     4
3      5030         2     11         4      3     0     1
4      5030        11     11         1      4     5

In [8]:
# 2. Data Manipulation (Data Cleaning): (Pedro)
# Explore the DataFrame using summary functions.
print(df.describe())
print(df.describe(include="object"))

# Identify if there are missing values.
print("\nConteo de valores faltantes por variable:")
print(df.isnull().sum())

# If they exist, remove them.
df_clean = df.dropna()

print("\nDimensiones originales:", df.shape)
print("Dimensiones después de eliminar NA:", df_clean.shape)

            AÑO            MES       CONGLOME       VIVIENDA          HOGAR  \
count  108354.0  108354.000000  108354.000000  108354.000000  108354.000000
mean     2023.0       6.495127   16944.756797      77.820330      11.146271
std         0.0       3.445244    3144.386733      68.547022       1.370084
min      2023.0       1.000000    5007.000000       1.000000      11.000000
25%      2023.0       3.000000   16028.000000      31.000000      11.000000
50%      2023.0       7.000000   17500.000000      66.000000      11.000000
75%      2023.0       9.000000   19014.000000     106.000000      11.000000
max      2023.0      12.000000   21001.000000     991.000000      44.000000

            CODPERSO         UBIGEO        DOMINIO        ESTRATO  \
count  108354.000000  108354.000000  108354.000000  108354.000000
mean        2.546293  131185.171087       4.864961       4.138961
std         1.577737   67736.903764       2.404443       2.432348
min         1.000000   10101.000000       1.000000       1.000000
25%         1.000000   80101.000000       2.000000       2.000000
50%         2.000000  140108.000000       5.000000       4.000000
75%         3.000000  180301.000000       7.000000       7.000000
max        22.000000  250401.000000       8.000000       8.000000

            CODINFOR  ...          P301A           P203           P204  \
count  108354.000000  ...  108354.000000  108354.000000  108354.000000
mean        2.033058  ...       5.258652       2.548729       1.005787
std         1.282622  ...       3.807669       1.716218       0.075850
min         0.000000  ...       1.000000       1.000000       1.000000
25%         1.000000  ...       3.000000       1.000000       1.000000
50%         2.000000  ...       5.000000       3.000000       1.000000
75%         2.000000  ...       6.000000       3.000000       1.000000
max        21.000000  ...      99.000000      11.000000       2.000000

                P207          P208A     TICUEST01A       FACTOR07  \
count  108354.000000  108354.000000  108354.000000  108354.000000
mean        1.513428      35.619839       1.999539     305.556281
std         0.499822      22.152408       0.021477     310.795722
min         1.000000       3.000000       1.000000       1.087094
25%         1.000000      16.000000       2.000000     123.659256
50%         2.000000      33.000000       2.000000     233.634140
75%         2.000000      53.000000       2.000000     354.661774
max         2.000000      98.000000       2.000000    1961.005981

           FACTORA07      NCONGLOME   SUB_CONGLOME
count  108354.000000  108354.000000  108354.000000
mean      302.602025   23603.093914       0.282325
std       322.927385   15607.753763       0.662107
min         0.422172       2.000000       0.000000
25%       101.125488    8855.000000       0.000000
50%       218.866760   20186.000000       0.000000
75%       365.609833   37361.000000       0.000000
max      2917.495850   51561.000000       6.000000

[8 rows x 23 columns]
         P301B   P301C   P301D  P301A0  P301A1  P301B0  P301B1  P301B3  \
count   108354  108354  108354  108354  108354  108354  108354  108354
unique      10       9       4       4     662       3    1077      28
top          5               1
freq     33141   83572   83403   61690   82846   82801   83553   83553

          P302   P302X  ... I311D$1 I311D$2 I311D$3 I311D$4 I311D$5 I311D$6  \
count   108354  108354  ...  108354  108354  108354  108354  108354  108354
unique       4       4  ...     282     245      90     732     508      91
top                     ...
freq     75103   93236  ...  106277  105935  108212   87730  107197  107796

       I311D$7  I3121C  I3122C   I315B
count   108354  108354  108354  108354
unique     851     783      45      15
top
freq    102357  107354  108303  108339

[4 rows x 488 columns]

Conteo de valores faltantes por variable:
AÑO             0
MES             0
CONGLOME        0
VIVIENDA        0
HOGAR           0
               ..
I315B           0
FACTOR07        0
FACTORA07       0
NCONGLOME       0
SUB_CONGLOME    0
Length: 511, dtype: int64

Dimensiones originales: (108354, 511)
Dimensiones después de eliminar NA: (108354, 511)

In [ ]:
# 3. Import a second dataset (choose between Enaho01A-2023-200.csv or Enaho01A-2023-500.csv). (Rossana)
# Display the first 5 rows.
# Convert the column names into a list and print it.
# Check the data types.
# Select a subsample containing the variables ['CONGLOME', 'VIVIENDA', 'HOGAR', 'CODPERSO'] and between 3–5 additional variables of your interest.
# Perform the following modifications:
# A. Change the data type of a variable (e.g., from text to numeric).
# B. Modify some values in a specific column.

In [ ]:
# 4. Merging Datasets: [2 pts] (Rossana)
# Identify the common columns between the two datasets (from questions 16 and 18).
# Verify whether the values match in both datasets. If not, correct the mismatched values to ensure a proper merge.
# Recommendation: Use the following as common columns:
# common_columns = ['CONGLOME', 'VIVIENDA', 'HOGAR', 'CODPERSO']
# in pd.merge(..., on=common_columns, how=...).

# Perform the merge.
# Display the first 5 rows of the resulting DataFrame.

In [ ]:
# 5. In the resulting DataFrame: (Rossana)
# Group the data by a variable of your choice using groupby().
# Calculate a relevant statistical indicator, for example: the average income per category.

In [ ]:
# Part 2 – If conditions

In [ ]:
# 6. Basic If Condition (Bruno)
# Write a Python function that checks if a given number is positive.
# If the number is greater than zero, return "The number X is positive.".
# Otherwise, return "The number X is not positive.".


def positive_number(x):
    if x > 0:
        mensaje = f"The number {x} is positive."
        return mensaje
    else:
        mensaje = f"The number {x} is not positive."
        return mensaje

In [ ]:
# 7. If Condition with Multiple Expressions (Bruno)
# Create a program that checks the temperature (in Celsius) and returns a message depending on the value:
# If the temperature is below 0, return "It is freezing.".
# If the temperature is between 0 and 20, return "It is cold.".
# If the temperature is between 21 and 30, return "It is warm.".
# If the temperature is greater than 30, return "It is hot.".

def temperature(t):
    if t < 0:
        return "It is freezing."
    elif 0 <= t <= 20:
        return "It is cold."
    elif 21 <= t <= 30:
        return "It is warm."
    else:  # t > 30
        return "It is hot."

In [ ]:
# 8. Logical Operators [2 pts] (Bruno)
# Write a function that determines if a person is eligible for a scholarship based on these conditions:
# The person must have a GPA greater than 3.5 AND
# Either their extracurricular activities are "Yes" OR they have community service hours greater than 50.
# The function should return:

# "Eligible for scholarship." if conditions are met.
# "Not eligible for scholarship." otherwise.

def scholarship_eligibility(gpa, extracurricular, service_hours):
    has_extracurricular = str(extracurricular).strip().lower() == "yes"
    if gpa > 3.5 and (has_extracurricular or service_hours > 50):
        return "Eligible for scholarship."
    return "Not eligible for scholarship."

In [ ]:
# 9. Python Identity Operators (Ulises)
# Create two lists:
# list1 = [1, 2, 3]
# list2 = [1, 2, 3]
# list3 = list1 
# Check with identity operators:

# list1 is list2
# list1 is list3
# list1 == list2 
# Explain the difference in the results for each comparison.

In [ ]:
# 10. Nested If Statement [2 pts] (Ulises)
# Write a function that takes a student's score and determines the grade:

# If the score is greater than or equal to 90, return "A".
# If the score is between 80 and 89:
# Check if the score is exactly 85, then return "B+".
# Otherwise, return "B".
# If the score is between 70 and 79, return "C".
# Otherwise, return "Fail".

In [ ]:
# Part 3 – For loops

In [ ]:
# 11. For Loop in NumPy (Ulises)
# Write a for loop using NumPy to iterate through an array of numbers [10, 20, 30, 40, 50] and print each value multiplied by 2.

# Re-question: How would you modify the loop so that it stores the results in a new NumPy array instead of just printing them?

In [ ]:
# 12. For Loop in List (Pedro)
# Create a list of words: ["python", "loop", "list", "iteration"].
# Write a for loop to print the length of each word.

# Re-question: How can you rewrite the same loop using a list comprehension?

In [ ]:
# 13. For Loop in Dictionary (Rossana)
# Given a dictionary of student scores:
# {"Alice": 85, "Bob": 92, "Charlie": 78, "Diana": 88}

# Write a for loop to print each student's name along with their score.

# Re-question: Modify the loop so that it only prints the names of students who scored above 80.

In [ ]:
# 14. For Loop using Range (Bruno)
# Write a for loop using range() to print all even numbers between 1 and 20.

for n in range(2, 21, 2):
    print(n)


# Re-question: How would you change the loop to also calculate the sum of these even numbers while iterating?

total = 0
for n in range(2, 21, 2):
    print(n)
    total += n
print("Sum:", total)

In [ ]:
# 15. Iterations over Pandas (ENAHO dataset) [2 pts] (Ulises)
# Suppose you are analyzing the National Household Survey (ENAHO) dataset, specifically the file ENAHO01A-2023-400.
# The question of interest is P41601: “¿Cuánto fue el monto total por la compra o servicio?”.

# Write a for loop that iterates over the column P41601 and prints values greater than 5000.

# Re-question: How would you optimize this task using pandas vectorized operations (e.g., boolean indexing) instead of a for loop, to make 
# the analysis faster and more efficient?