In [11]:
import numpy as np

In [5]:
list = [1,2,3,4,5,6,7,8,9]

In [7]:
list2 = [5,2,623,6,3,5,6,7,3]

In [13]:
#Function with multiple returns
def analyze_numbers(lst):
    maximum = max(lst)
    minimum = min(lst)
    average = np.mean(lst)
    return maximum, minimum, average

In [14]:
analyze_numbers(list2)

(623, 2, 73.33333333333333)

In [16]:
# How would you call this function and unpack the results into three variables?
max_val, min_val, avg_val = analyze_numbers(list2)
print(max_val)
print(min_val)
print(avg_val)

623
2
73.33333333333333

In [ ]:
#How would you call this function and unpack the results into three variables?

In [47]:
#Function with Defaul Parameters
def greet(name, message = "Hello"):
    print(message, name)

In [44]:
greet("Santiago","Hi")

Hi Santiago

In [45]:
greet("Santiago")

Hello Santiago

In [17]:
#How does Python decide which value to use for message when it is not provided?
#El mensaje default de la funciÃ³n es "Hello", por lo que si no se pone otro mensaje el default es "Hello"

In [25]:
def multiply(a: int, b: int):
    return a*b

In [27]:
multiply(2,3)

6

In [34]:
multiply("hola","chau")

TypeError: can't multiply sequence by non-int of type 'str'

In [32]:
multiply("hola",3)

'holaholahola'

In [33]:
multiply(3,"hola")

'holaholahola'