### Tercer ejercicio:

1. From the list of grades [15, 17, 20, 11, 13, 18, 19], create a Pandas Series assigning student names as the index (for example: "Ana", "Jorge", "Valeria", etc.).

En ese sentido, la lista es la siguiente:

In [3]:
# Primero las librerias

import pandas as pd
import numpy as np

In [5]:
# Grades
students = [ "Ana", "Jorge", "Valeria", "Arianna", "Mirzha", "Eduardo", "Anel" ]
grades     = [ 15, 17, 20, 11, 13, 18, 19]
grades_A = {'Students':students, 'Grades':grades}

# Dataframe con pandas
gradesA1 = pd.DataFrame( grades_A )
gradesA1

  Students  Grades
0      Ana      15
1    Jorge      17
2  Valeria      20
3  Arianna      11
4   Mirzha      13
5  Eduardo      18
6     Anel      19

2. Using the Series created in the previous step, calculate:

2.1. The average of the grades.
2.2. The student with the highest grade (use .idxmax()).
2.3. The student with the lowest grade (use .idxmin()).

In [6]:
# 2.1. The average of grades

promedio = gradesA1["Grades"].mean()
print(promedio)

16.142857142857142

In [7]:
# 2.2. The student with the highest grade

# index of the highest grade
idx_max = gradesA1["Grades"].idxmax()

# corresponding student
top_student = gradesA1["Students"][idx_max]
top_grade = gradesA1["Grades"][idx_max]

print(f"The student with the highest grade is {top_student} with {top_grade}.")

The student with the highest grade is Valeria with 20.

In [8]:
# 2.3. The student with the lowest grade (use .idxmin()).

# index of the highest grade
idx_min = gradesA1["Grades"].idxmin()

# corresponding student
low_student = gradesA1["Students"][idx_min]
low_grade = gradesA1["Grades"][idx_min]

print(f"The student with the lowest grade is {low_student} with {low_grade}.")

The student with the lowest grade is Arianna with 11.